<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Carmetics Admin Panel</title>
  <!--favicon-->
  <!-- Vector CSS -->
  <base href="{{ base_url() }}">
  <link
        href="public/webpage/images/favicon.ico" rel="icon"/>
  
  <link rel="stylesheet" href="public/adminpanel/plugins/summernote/dist/summernote-bs4.css"/>

  <link href="public/adminpanel/plugins/fancybox/css/jquery.fancybox.min.css" rel="stylesheet" type="text/css"/>
  
  <link href="public/adminpanel/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
  <!-- Dropzone css -->
  <link href="public/adminpanel/plugins/dropzone/css/dropzone.css" rel="stylesheet" type="text/css">
  <!-- simplebar CSS-->
  <link href="public/adminpanel/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
  <!-- Bootstrap core CSS-->
  <link href="public/adminpanel/css/bootstrap.min.css" rel="stylesheet" />
  <!-- animate CSS-->
  <link href="public/adminpanel/css/animate.css" rel="stylesheet" type="text/css" />
  <!-- Icons CSS-->
  <link href="public/adminpanel/css/icons.css" rel="stylesheet" type="text/css" />
  <!-- Sidebar CSS-->
  <link href="public/adminpanel/css/sidebar-menu.css" rel="stylesheet" />
  <!-- Custom Style-->
  <link href="public/adminpanel/css/app-style.css" rel="stylesheet" />
  <link href="public/adminpanel/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
  <link href="public/adminpanel/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
  <style>
    .sidebar-menu li {
        padding: 5px 5px 5px 15px;
        display: block;
        font-size: 14px;
        color: #9fa1a1;
    }
    .sidebar-menu li:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.65);
        text-decoration: none;
    }
  </style>
</head>

<body>

  <!-- start loader -->
  <div id="pageloader-overlay" class="visible incoming">
    <div class="loader-wrapper-outer">
      <div class="loader-wrapper-inner">
        <div class="loader"></div>
      </div>
    </div>
  </div>
  <!-- end loader -->

  <!-- Start wrapper-->
  <div id="wrapper">

    <!--Start sidebar-wrapper-->
    <div id="sidebar-wrapper" class="bg-theme bg-theme9" data-simplebar="" data-simplebar-auto-hide="true">
      <div class="brand-logo">
        <a href="{{ path_for('admin.index') }}">
          <h5 class="logo-text">Carmetics Admin</h5>
        </a>
      </div>
      <div class="user-details">
        <div class="media align-items-center user-pointer collapsed" data-toggle="collapse"
          data-target="#user-dropdown">
          <div class="avatar"><img class="mr-3 side-user-img" src="public/adminpanel/images/profile.jpg"
              alt="user avatar"></div>
          <div class="media-body">
            <h6 class="side-user-name">Admin Name</h6>
          </div>
        </div>
        <div id="user-dropdown" class="collapse">
          <ul class="user-setting-menu">
            <li id = "myprofile"><a href=""><i class="icon-user"></i> My Profile</a></li>
            <li id = "settings"><a href=""><i class="icon-settings"></i> Settings</a></li>
            <li id = "logout"><a href="{{ path_for('adminauth.logout') }}"><i class="icon-power"></i> Logout</a></li>
          </ul>
        </div>
      </div>
      <ul class="sidebar-menu do-nicescrol">
        <li class="sidebar-header">MAIN NAVIGATION</li>
        <li>
          <a href="javaScript:void();" class="waves-effect">
            <i class="zmdi zmdi-view-dashboard"></i> <span>Products</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <a href = "{{ path_for('admin.uploadbluk') }}"><li id = "uploadbulkproducts"><i class="zmdi zmdi-long-arrow-right"></i> Upload Bulk Products</li></a>
            <a href = "{{ path_for('admin.uploadsingle') }}"><li id = "uploadsingleproducts"><i class="zmdi zmdi-long-arrow-right"></i> Upload Single Product</li></a>
            <a href = "{{ path_for('admin.editproducts') }}"><li id = "editproducts"><i class="zmdi zmdi-long-arrow-right"></i> Edit Products List</li></a>
            {# <a href = "{{ path_for('admin.updateinventory') }}"><li id = "updateinventory"><i class="zmdi zmdi-long-arrow-right"></i> Update Inventory</li></a> #}
            <a href = "{{ path_for('admin.removeproducts') }}"><li id = "removeproducts"><i class="zmdi zmdi-long-arrow-right"></i> Remove Product</li></a>
          </ul>
        </li>
        <li>
          <a href="javaScript:void();" class="waves-effect">
            <i class="zmdi zmdi-edit"></i>
            <span>Reviews</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <a href = "{{ path_for('review.managereviews') }}"><li id = "managereviews"><i class="zmdi zmdi-long-arrow-right"></i> Manage Reviews</li></a>
          </ul>
        </li>
        <li>
          <a href="javaScript:void();" class="waves-effect">
            <i class="zmdi zmdi-shopping-cart"></i>
            <span>Orders</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <a href = "{{ path_for('order.viewpendingorders') }}"><li id = "viewpendingorders"><i class="zmdi zmdi-long-arrow-right"></i> View Pending Orders</li></a>
            <a href = "{{ path_for('order.ordershistory') }}"><li  id = "ordershistory"><i class="zmdi zmdi-long-arrow-right"></i> Orders History</li></a>
            <a href = "{{ path_for('order.refundrequests') }}"><li  id = "refundrequest"><i class="zmdi zmdi-long-arrow-right"></i> Refund Requests</li></a>
          </ul>
        </li>
        <li>
          <a href="javaScript:void();" class="waves-effect">
            <i class="zmdi zmdi-account-circle"></i> <span>Users</span>
            <i class="fa fa-angle-left float-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <a href = "{{ path_for('customer.viewcustomers') }}"><li id = "viewuserslist"><i class="zmdi zmdi-long-arrow-right"></i> Manage Users</li></a>
          </ul>
        </li>
        <li>
          <a href="javaScript:void();" class="waves-effect">
            <i class="fa fa-first-order"></i> <span>Custom Orders</span>
            <i class="fa fa-angle-left float-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <a href = "{{ path_for('order.managecustomorders') }}"><li id = "managecustomorders"><i class="zmdi zmdi-long-arrow-right"></i>Manage Custom Orders</li></a>
          </ul>
        </li>
        <li>
          <a href="javaScript:void();" class="waves-effect">
            <i class="zmdi zmdi-chart"></i> <span>Statics</span>
            <i class="fa fa-angle-left float-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <li id = "viewtotalsales"><i class="zmdi zmdi-long-arrow-right"></i> Sales</li>
            <li id = "viewtotalsales"><i class="zmdi zmdi-long-arrow-right"></i> Views</li>
          </ul>
        </li>
      </ul>

    </div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
      <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link toggle-menu" href="javascript:void();">
              <i class="icon-menu menu-icon"></i>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
          <li class="nav-item dropdown-lg">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();">
              <i class="fa fa-envelope-open-o"></i><span class="badge badge-light badge-up">2</span></a>
            <div class="dropdown-menu dropdown-menu-right">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  You have 2 new messages
                  <span class="badge badge-light">2</span>
                </li>
                <li class="list-group-item">
                  <a href="javaScript:void();">
                    <div class="media">
                      <div class="avatar"><img class="align-self-start mr-3" src="public/adminpanel/images/profile.jpg"
                          alt="user avatar"></div>
                      <div class="media-body">
                        <h6 class="mt-0 msg-title">Person Name</h6>
                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                        <small>Today, 4:10 PM</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="javaScript:void();">
                    <div class="media">
                      <div class="avatar"><img class="align-self-start mr-3" src="public/adminpanel/images/profile.jpg"
                          alt="user avatar"></div>
                      <div class="media-body">
                        <h6 class="mt-0 msg-title">Person Name</h6>
                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                        <small>Yesterday, 8:30 AM</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item text-center"><a href="javaScript:void();">See All Messages</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown-lg">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();">
              <i class="fa fa-bell-o"></i><span class="badge badge-info badge-up">14</span></a>
            <div class="dropdown-menu dropdown-menu-right">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  You have 14 Notifications
                  <span class="badge badge-info">14</span>
                </li>
                <li class="list-group-item">
                  <a href="javaScript:void();">
                    <div class="media">
                      <i class="zmdi zmdi-coffee fa-2x mr-3 text-warning"></i>
                      <div class="media-body">
                        <h6 class="mt-0 msg-title">View Pending Orders</h6>
                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="javaScript:void();">
                    <div class="media">
                      <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-danger"></i>
                      <div class="media-body">
                        <h6 class="mt-0 msg-title">New Reviews</h6>
                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item text-center"><a href="javaScript:void();">See All Notifications</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
              <span class="user-profile"><img src="public/adminpanel/images/profile.jpg" class="img-circle"
                  alt="user avatar"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item user-details">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3" src="public/adminpanel/images/profile.jpg"
                        alt="user avatar"></div>
                    <div class="media-body">
                      <h6 class="mt-2 user-title">Admin Name</h6>
                      <p class="user-subtitle">admin@admin.com</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item" id = "profile"><i class="icon-wallet mr-2"></i> My Profile</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item" id = "settings"><i class="icon-settings mr-2"></i> Settings</li>
              <li class="dropdown-divider"></li>
              <a href = "{{ path_for('adminauth.logout') }}"><li class="dropdown-item" id = "logout"><i class="icon-power mr-2"></i> Logout</li></a>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper" id = "content">
      {% block content %}
      {% endblock %}
    </div>
    <!-- End container-fluid-->

  </div>
  <!--End content-wrapper-->
  <!--Start Back To Top Button-->
  <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
  <!--End Back To Top Button-->
  <!--start color switcher-->

  <!--end color cwitcher-->

  </div>
  <!--End wrapper-->

  <!-- Bootstrap core JavaScript-->
  <script src="public/adminpanel/js/jquery.min.js"></script>
  <script src="public/adminpanel/js/popper.min.js"></script>
 

  <!-- simplebar js -->
  <script src="public/adminpanel/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="public/adminpanel/js/sidebar-menu.js"></script>
  <!-- Custom scripts -->
  <script src="public/adminpanel/js/app-script.js"></script>
  <!-- Chart js -->

  <script src="public/adminpanel/plugins/Chart.js/Chart.min.js"></script>
  <!-- Vector map JavaScript -->
  <script src="public/adminpanel/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="public/adminpanel/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
  <!-- Easy Pie Chart JS -->
  <script src="public/adminpanel/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
  <!-- Sparkline JS -->
  <script src="public/adminpanel/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
  <script src="public/adminpanel/plugins/jquery-knob/excanvas.js"></script>
  <!-- Dropzone JS  -->
  <script src="public/adminpanel/plugins/dropzone/js/dropzone.js"></script>
  <script src="public/adminpanel/plugins/jquery-knob/jquery.knob.js"></script>
  
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/jszip.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
  <script src="public/adminpanel/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>
  
  <script src="public/adminpanel/plugins/alerts-boxes/js/sweetalert.min.js"></script>
  <script src="public/adminpanel/plugins/alerts-boxes/js/sweet-alert-script.js"></script>

  <script src="public/adminpanel/plugins/fancybox/js/jquery.fancybox.min.js"></script>
  

  <script src="public/adminpanel/js/jspdf.min.js"></script>
  <script src="public/adminpanel/js/html2canvas.js"></script>
   <script src="public/adminpanel/js/bootstrap.min.js"></script>
   
  
  <!-- Index js -->
  <script src="public/adminpanel/js/index.js"></script>
  <script type = "text/javascript" src="public/adminpanel/js/admin.js"></script>

  <script>
     $('.productActive').click(function() {
        var obj = $(this);
        var id = $(this).val();
        var status;
        var statusText;
        ($(this).is(':checked')) ? status = 0 : status = 1
        $.ajax({
            url: "{{ path_for('admin.updateproductstatus') }}",
            type: "POST",
            data: {status : status, productId: id },
            success: function(html){
              
            }
        });
        (status == 0) ? statusText = 'Inactive' : statusText = 'Active';
        editproductstatustext = obj.closest('.productrow').find('.editproductstatustext');
        editproductstatustext.html(statusText);
    });

    $('.reviewApprove').click(function() {
        var obj = $(this);
        var customerid = $(this).closest('.reviewrow').find('.reviewcustomerid').val();
        var productid = $(this).closest('.reviewrow').find('.reviewproductid').val();
        var approvalstatus = $(this).val();
        console.log(customerid + productid + approvalstatus);
        $.ajax({
            url: "{{ path_for('review.toggleapprovereview') }}",
            type: "POST",
            data: {customerid : customerid, productid: productid, approvalstatus: approvalstatus },
            success: function(html){
              location.reload();
              // reviewapprovalstatus = JSON.parse(html);
              // var changedapprovalstatusvalue = reviewapprovalstatus;
              // $('.reviewApprove').val(changedapprovalstatusvalue);
              // if(changedapprovalstatusvalue == 0) {
              //   editreviewstatustext = obj.closest('.reviewrow').find('.currentreviewapprovalstatus');
              //   editreviewstatustext.html('NOT APPROVED');
              // }
              // else {
              //   editreviewstatustext = obj.closest('.reviewrow').find('.currentreviewapprovalstatus');
              //   editreviewstatustext.html('APPROVED');
              // }
            }
        });
        // (status == 0) ? statusText = 'Inactive' : statusText = 'Active';
        // editproductstatustext = obj.closest('.productrow').find('.editproductstatustext');
        // editproductstatustext.html(statusText);
    });

    $('.productmrp').blur(function() {
      mrp = $(this).val();
      productId = $(this).closest('.productrow').find('.productActive').val();
      $.ajax({
          url: "{{ path_for('admin.updateproductmrp') }}",
          type: "POST",
          data: {mrp : mrp, productId: productId },
          success: function(html){
            
          }
      });
    });

      $('.productsp').blur(function() {
        sp = $(this).val();
        productId = $(this).closest('.productrow').find('.productActive').val();
        $.ajax({
            url: "{{ path_for('admin.updateproductsp') }}",
            type: "POST",
            data: {sp : sp, productId: productId },
            success: function(html){
              
            }
        });
      });

      $('.productquantity').blur(function() {
        qty = $(this).val();
        productId = $(this).closest('.productrow').find('.productActive').val();
        $.ajax({
            url: "{{ path_for('admin.updateproductquantity') }}",
            type: "POST",
            data: {qty : qty, productId: productId },
            success: function(html){
              
            }
        });
      });

    $("input:file").change(function () {
        file = document.getElementById("inputGroupFile01").files[0].name;
        $("#filename").html(file);
    });

    var tbl = $('#productsList').DataTable({
        "ordering": false,
        "bLengthChange": false,
        "bInfo": false
    });

    $('#search').keyup(function () {
        console.log($(this).val())
        tbl.search($(this).val()).draw();
    });

    $(".confirm-btn-alert").click(function () {
        productId = $(this).attr('id');
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this Product",
          icon: "warning",
          buttons: true,
          dangerMode: true
        }).then((willDelete) => {
          if (willDelete) {
            var request = $.ajax({
              url: "{{ path_for('admin.productdelete') }}",
              type: "POST",
              dataType: 'html',
              data: {productId: productId },
              success: function(data){
                  
              }
              // swal("The product has been deleted!", {
                  //   icon: "success"
                  // });
            });
          } else {
            swal("The product was not deleted");
          }
        });
        });

        $(".deleteReview").click(function () {
          customerId = $(this).attr('id');
          productId = $(this).closest('td').attr('id');
          swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this Product",
            icon: "warning",
            buttons: true,
            dangerMode: true
          }).then((willDelete) => {
            if (willDelete) {
              $.ajax({
                url: "{{ path_for('review.deletereview') }}",
                type: "POST",
                data: {productId: productId, customerId: customerId },
                success: function(data){
                    swal("The product has been deleted!", {
                      icon: "success"
                    });
                }
              });
            } else {
              swal("The product was not deleted");
            }
          });
        });

        $('#orderstatus').on('change', function() {
          var value = this.value;
          if(value === 'DISPATCHED') {
            form = `
              <br><br>  
              <div class="container col-md-6 col-md-offset-3">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="carrier">Carrier:</label>
                    <input id = "carrier" name = "carrier" type= "text" class = "form-control"/>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="shippingservice">Shipping Service:</label>
                    <input id = "shippingservice" name = "shippingservice" type= "text" class = "form-control"/>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="trackingid">Tracking ID:</label>
                    <input id = "trackingid" name = "trackingid" type= "text" class = "form-control"/>
                  </div>
                </div>
              </div>
            `;
            $('#couirerdetails').html(form);
          }
          else {
            $('#couirerdetails').html('');
          }
        });

        $('#ordersconfirm').click(function() {
          var orderid = $('#orderid').html();
          if( $('#orderstatus').val() === 'DISPATCHED') {
            var carrier = $('#carrier').val();
            var shippingservice = $('#shippingservice').val();
            var trackingid = $('#trackingid').val();
            $.ajax({
              url: "{{ path_for('order.addcourierdetails') }}",
              type: "POST",
              data: { carrier: carrier, shippingservice: shippingservice, trackingid: trackingid, orderid: orderid },
              success: function(data){
                location.reload();
              }
            });
          }
          else if( $('#orderstatus').val() === 'DELIVERED') {
            $.ajax({
              url: "{{ path_for('order.orderdelivered') }}",
              type: "POST",
              data: { orderid: orderid },
              success: function(data){
                location.reload();
              }
            });
          }
          else {

          }
        });

        $('#adminraiting .fa-star').click(function() {
          //$(this).toggleClass('text-warning');
          $('#adminraiting .fa-star').removeClass('text-warning');
          var ratingid = parseInt($(this).attr('id'));
          console.log(ratingid);
          for(i=1;i<=ratingid;i++) {
            $('#'+i).addClass('text-warning');
          }
          $('#rating').val(ratingid);
        });
        
      
  </script>
  
</body>
</html>