<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta content="" name="description">
        <meta charset="utf-8">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
        <meta content="" name="author">
        <meta content="MediaCenter, Template, eCommerce" name="keywords">
        <meta content="all" name="robots">

        <base href="{{ base_url() }}">

        <title>Carmetics | Home</title>
        <link href="public/webpage/css/bootstrap.min.css" rel="stylesheet">
        <link
        href="public/webpage/images/favicon.ico" rel="icon"/>


        <!-- Customizable CSS -->
        <link href="public/webpage/css/main.css" rel="stylesheet">
        <link href="public/webpage/css/blue.css" rel="stylesheet">
        <link href="public/webpage/css/owl.carousel.css" rel="stylesheet">
        <link href="public/webpage/css/owl.transitions.css" rel="stylesheet">
        <link href="public/webpage/css/animate.min.css" rel="stylesheet">
        <link href="public/webpage/css/rateit.css" rel="stylesheet">
        <link
        href="public/webpage/css/bootstrap-select.min.css" rel="stylesheet">
        <!-- Icons/Glyphs -->
        <link
        href="public/webpage/css/all.min.css" rel="stylesheet">
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body
        class="cnt-home">
        <!-- ============================================== HEADER ============================================== -->
        <header class="header-style-1">

            <div class="top-bar animate-dropdown">
                <div class="container">
                    <div class="header-top-inner">
                        <div class="cnt-account">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        <i class="icon fa fa-user"></i>My Account</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon fa fa-heart"></i>Wishlist</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon fa fa-shopping-cart"></i>My Cart</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('customer.login') }}">
                                        <i class="icon fa fa-lock"></i>Login</a>
                                </li>
                            </ul>
                        </div>

                        <div
                            class="cnt-block"><!-- <ul class="list-unstyled list-inline">
                                					<li class="dropdown dropdown-small">
                                						<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
                                						<ul class="dropdown-menu">
                                							<li><a href="#">USD</a></li>
                                							<li><a href="#">INR</a></li>
                                							<li><a href="#">GBP</a></li>
                                						</ul>
                                					</li> -->
                        </li>
                    </ul>

                </div>

                <div class="clearfix"></div>
            </div>

        </div>

    </div>

    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">

                    <div class="logo col-xs-12 col-sm-12">
                        <a href="#">
                            <img alt="" src="public/webpage/images/homepagelogo.png" style="width:300px;height:90px;margin-left: -70px;margin-top: -25px">
                        </a>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">

                    <div class="search-area">
                        <form>
                            <div class="control-group">
                                <ul class="categories-filter animate-dropdown">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">Categories
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">BEST SELLERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">3D LETTERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">3D EMBLEMS</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">SPORTS TEAM STICKER</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">DOOR STICKER</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">WINDSHEILD STICKERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">BUMPER STICKERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">SPIRITUAL STICKERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="category.html" role="menuitem" tabindex="-1">VINYL GRAPHICS</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <input class="search-field" placeholder="Search here..."/>
                                <a class="search-button" href="#"></a>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</header>

{% block content %} {% endblock %}


<footer class="footer color-bg" id="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Contact Us</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul class="toggle-footer">
                            <li class="media">
                                <div class="pull-left">
                                    <span class="icon fa-stack fa-lg">
                                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p>Location</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left">
                                    <span class="icon fa-stack fa-lg">
                                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p>Contact Number</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left">
                                    <span class="icon fa-stack fa-lg">
                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <span>
                                        <a href="#">help@carmetics.com</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Customer Service</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul>
                            <li class="first .nostylelist">
                                <a href="#" title="Contact us">My Account</a>
                            </li>
                            <li>
                                <a href="#" title="About us">Order History</a>
                            </li>
                            <li>
                                <a href="#" title="faq">FAQ</a>
                            </li>
                            <li class="last">
                                <a href="#" title="Where is my order?">Help</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Carmetics</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul>
                            <li class="first">
                                <a href="#" title="Your Account">About us</a>
                            </li>
                            <li>
                                <a href="#" title="Information">Customer Service</a>
                            </li>
                            <li>
                                <a href="#" title="Addresses">Company</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Why Choose Us</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul class='nostylelist'>
                            <li class="first">
                                <a href="#" title="About us">Shopping Guide</a>
                            </li>
                            <li>
                                <a href="#" title="Company">Company</a>
                            </li>
                            <li class=" last">
                                <a href="#" title="Suppliers">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-padding social">
                <ul class="link">
                    <li class="fb pull-left">
                        <a href="#" rel="nofollow" target="_self" title="Facebook"></a>
                    </li>
                    <li class="tw pull-left">
                        <a href="#" rel="nofollow" target="_self" title="Twitter"></a>
                    </li>
                    <li class="googleplus pull-left">
                        <a href="#" rel="nofollow" target="_self" title="GooglePlus"></a>
                    </li>
                    <li class="linkedin pull-left">
                        <a href="#" rel="nofollow" target="_self" title="Linkedin"></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 no-padding">
                <div class="clearfix payment-methods">
                    <ul>
                        <li><img alt="" src="public/webpage/images/payments/1.png"></li>
                        <li><img alt="" src="public/webpage/images/payments/2.png"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- ============================================================= FOOTER : END============================================================= -->


<!-- For demo purposes – can be removed on production -->


<!-- For demo purposes – can be removed on production : End -->

<!-- JavaScripts placed at the end of the document so the pages load faster --><script src="public/webpage/js/jquery-1.11.1.min.js"> </script>

<script src="public/webpage/js/bootstrap.min.js"></script>

<script src="public/webpage/js/bootstrap-hover-dropdown.min.js"></script>
<script src="public/webpage/js/owl.carousel.min.js"></script>

<script src="public/webpage/js/echo.min.js"></script>
<script src="public/webpage/js/jquery.easing-1.3.min.js"></script>
<script src="public/webpage/js/bootstrap-slider.min.js"></script>
<script src="public/webpage/js/jquery.rateit.min.js"></script>
<script src="public/webpage/js/lightbox.min.js" type="text/javascript"></script>
<script src="public/webpage/js/bootstrap-select.min.js"></script>
<script src="public/webpage/js/wow.min.js"></script>
<script src="public/webpage/js/scripts.js"></script>


<script src="public/webpage/js/switchstylesheet.js"></script></body></html>
