<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta content="" name="description">
        <meta charset="utf-8">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
        <meta content="" name="author">
        <meta content="MediaCenter, Template, eCommerce" name="keywords">
        <meta content="all" name="robots">

        <base href="{{ base_url() }}">

        <title>Carmetics | Home</title>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        {# <link href="public/webpage/css/bootstrap.min.css" rel="stylesheet"> #}
        <link href="public/webpage/css/webpagecssbundle.css" rel="stylesheet">
        <link
        href="public/webpage/images/favicon.ico" rel="icon"/>


        <!-- Customizable CSS -->
        {# <link href="public/webpage/css/main.css" rel="stylesheet">
        <link href="public/webpage/css/blue.css" rel="stylesheet">
        <link href="public/webpage/css/owl.carousel.css" rel="stylesheet">
        <link href="public/webpage/css/owl.transitions.css" rel="stylesheet">
        <link href="public/webpage/css/animate.min.css" rel="stylesheet">
        <link href="public/webpage/css/rateit.css" rel="stylesheet">
        <link
        href="public/webpage/css/bootstrap-select.min.css" rel="stylesheet">
        <!-- Icons/Glyphs -->
        <link
        href="public/webpage/css/all.min.css" rel="stylesheet">
        <!-- Fonts -->
        <link href="public/webpage/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <link href="public/webpage/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <link href="public/webpage/css/jquery-ui.css" rel="stylesheet" type="text/css"> #}
        <link href="public/webpage/css/pagination.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        .dropdown-menu a, .dropdown a {
            cursor:pointer;
        }
        .ui-menu {
            width:37%
        }
        .ui-menu-item{
            padding:7px
        }
        
        
    </style>
    
    
    </head>
    <body
        class="cnt-home">
        <!-- ============================================== HEADER ============================================== -->
        <header class="header-style-1">

            <div class="top-bar animate-dropdown">
                <div class="container">
                    <div class="header-top-inner">
                        <div class="cnt-account">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path_for('customer.myaccount') }}">
                                        <i class="icon fa fa-user" ></i>My Account</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('wishlist.viewwishlist') }}">
                                        <i class="icon fa fa-heart"></i>Wishlist</a>
                                </li>
                                <li>
                                    <a href="{{ path_for('order.yourorders') }}">
                                        <i class="icon fa fa-shopping-cart"></i>Your Orders</a>
                                </li>
                                <li style = "color:white">
                                    {% block user %}{% endblock %}
                                </li>
                            </ul>
                        </div>

                        

                <div class="clearfix"></div>
            </div>

        </div>

    </div>

    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">

                    <div class="logo col-xs-12 col-sm-12">
                        <a href="#">
                            <img alt="" src="public/webpage/images/homepagelogo.png" style="width:300px;height:90px;margin-left: -70px;margin-top: -25px">
                        </a>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">

                    <div class="search-area">
                        <form id = "searchbox" name = "searchbox" method = "GET" >
                            <div class="control-group">
                                <ul class="categories-filter animate-dropdown">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" id = "category">{% block productType %}{% endblock %}
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation">
                                                <a class = "" id = "bestseller">ALL CATEGORIES</a>
                                            </li>
                                            <li role="presentation">
                                                <a class = "Best Sellers" id = "bestseller">BEST SELLERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a class = "stickers" id = "bestseller">STICKERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a class = "3d letters" id = "3dletters">3D LETTERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a >3D EMBLEMS</a>
                                            </li>
                                            <li role="presentation">
                                                <a  role="menuitem" tabindex="-1">SPORTS TEAM STICKER</a>
                                            </li>
                                            <li role="presentation">
                                                <a  role="menuitem" tabindex="-1">DOOR STICKER</a>
                                            </li>
                                            <li role="presentation">
                                                <a  role="menuitem" tabindex="-1">WINDSHEILD STICKERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a  role="menuitem" tabindex="-1">BUMPER STICKERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a  role="menuitem" tabindex="-1">SPIRITUAL STICKERS</a>
                                            </li>
                                            <li role="presentation">
                                                <a  role="menuitem" tabindex="-1">VINYL GRAPHICS</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <input type="hidden" id = "productcategory" name = "productcategory" value = "{{block('productType')}}">
                                <input class="search-field" name = "searchfield" id = "searchfield" value = "{% block searchText %}{% endblock %}" placeholder="Search here...">
                                <a class="search-button" id = "searchquery" ></a>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 top-cart-row">

                    {# <div class="dropdown dropdown-cart "> #}
                    <div class="dropdown dropdown-cart">
                        <a class="dropdown-toggle lnk-cart" data-hover="" data-toggle="" href="{{ path_for('cart.viewcart') }}">
                            <div class="items-cart-inner">
                                <div class="basket">
                                    <i class="glyphicon glyphicon-shopping-cart" style = "right:7px"></i>
                                </div>
                                <div class="basket-item-count">
                                    <span class="count"  style = "font-size:15px;top:25px"><p style = "margin-top:4px" id = "cartcount">{% block cart %}{% endblock %}</p></span>
                                </div>
                                <div class="total-price-basket">
                                    <span class="lbl">&nbsp;&nbsp;CART</span>
                                    <span class="total-price">
                                        <span class="sign"></span>
                                        <span class="value"></span>
                                    </span>
                                </div>
                            </div>
                        </a>
                        {# <ul class="dropdown-menu">
                            <li>
                                <div class="cart-item product-summary">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="image">
                                                <a href="detail.html"><img alt="" src="public/webpage/images/products/920x1000.png"></a>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <h3 class="name">
                                                <a href="#">Product</a>
                                            </h3>
                                            <div class="price">₹350</div>
                                        </div>
                                        <div class="col-xs-1 action">
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="cart-item product-summary">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="image">
                                                <a href="detail.html"><img alt="" src="public/webpage/images/products/920x1000.png"></a>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <h3 class="name">
                                                <a href="#">Product</a>
                                            </h3>
                                            <div class="price">₹350</div>
                                        </div>
                                        <div class="col-xs-1 action">
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <hr>
                                <div class="clearfix cart-total">
                                    <div class="pull-right">
                                        <span class="text">Sub Total :</span>
                                        <span class='price'>₹700</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <a class="btn btn-upper btn-primary btn-block m-t-20" href="checkout.html">Checkout</a>
                                </div>

                            </li>
                        </ul> #}

                    </div>


                </div>

            </div>

        </div>

    </div>

    <div class="header-nav animate-dropdown">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown yamm-fw">
                                    <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="home.html">Home</a>
                                </li>
                                <li class="dropdown yamm mega-menu">
                                    <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="home.html">BEST SELLERS</a>
                                    <ul class="dropdown-menu container">
                                        <li>
                                            <div class="yamm-content ">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                        <h2 class="title">Sub category 1</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                        <h2 class="title">Sub category 2</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                        <h2 class="title">Sub category 3</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                        <h2 class="title">Sub category 4</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image">
                                                        <img alt="" class="img-responsive" src="public/webpage/images/banners/350x240.png">
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown mega-menu">
                                    <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="category.html">3D LETTERS
                                    </a>
                                    <ul class="dropdown-menu container">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                        <h2 class="title">Sub Catagroy 1</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 8</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 9</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 10</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                        <h2 class="title">Sub Catagroy 2</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 8</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 9</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 10</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                        <h2 class="title">Sub Catagroy 3</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 8</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 9</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 10</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                        <h2 class="title">Sub Catagroy 4</h2>
                                                        <ul class="links">
                                                            <li>
                                                                <a href="#">Item 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 4</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 5</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 6</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 7</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 8</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 9</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Item 10</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner">
                                                        <a href="#"><img alt="" src="public/webpage/images/banners/340x350.png"></a>
                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown hidden-sm">
                                    <a href="category.html">3D EMBLEMS
                                    </a>
                                </li>
                                <li class="dropdown hidden-sm">
                                    <a href="contact.html">VINYL GRAPHICS</a>
                                </li>
                                <li class="dropdown">
                                    <a href="contact.html">DOOR STICKERS</a>
                                </li>
                                <li class="dropdown">
                                    <a href="contact.html">WINDOW STICKERS</a>
                                </li>
                                <li class="dropdown">
                                    <a href="contact.html">BUMPER STICKERS</a>
                                </li>
                                <li class="dropdown">
                                    <a href="contact.html">SPIRITUAL STICKERS</a>
                                </li>
                                <li class="dropdown">
                                    <a href="{{ path_for('order.viewcustomorder') }}">CUSTOM ORDER</a>
                                    <!-- <ul class="dropdown-menu pages">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-xs-12 col-menu">
                                                    <ul class="links">
                                                        <li><a href="contact.html">Contact Us</a></li>
                                                        <li><a href="sign-in.html">Account Settings</a></li>
                                                        <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                                        <li><a href="faq.html">Help</a></li>
                                                    </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul> -->
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


{% block content %}{% endblock %}


<footer class="footer color-bg" id="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Contact Us</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul class="toggle-footer">
                            <li class="media">
                                <div class="pull-left">
                                    <span class="icon fa-stack fa-lg">
                                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p>Location</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left">
                                    <span class="icon fa-stack fa-lg">
                                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p>Contact Number</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left">
                                    <span class="icon fa-stack fa-lg">
                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <span>
                                        <a href="#">support@carmetics.in</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Customer Service</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul>
                            <li class="first .nostylelist">
                                <a href="{{ path_for('customer.myaccount') }}" title="Contact us">My Account</a>
                            </li>
                            <li>
                                <a href="{{ path_for('order.yourorders') }}" title="About us">Order History</a>
                            </li>
                            <li>
                                <a href="#" title="faq">FAQ</a>
                            </li>
                            <li class="last">
                                <a href="#" title="Where is my order?">Help</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Carmetics</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul>
                            <li class="first">
                                <a href="#" title="Your Account">About us</a>
                            </li>
                            <li>
                                <a href="#" title="Addresses">Company</a>
                            </li>
                            <li>
                                <a href="#" title="Information">Customer Service</a>
                            </li>
                            <li>
                                <a href="#" title="Information">Refunds & Returns Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Why Choose Us</h4>
                        <br>
                    </div>

                    <div class="module-body">
                        <ul class='nostylelist'>
                            <li class="first">
                                <a href="#" title="About us">Shopping Guide</a>
                            </li>
                            <li>
                                <a href="#" title="Company">Company</a>
                            </li>
                            <li class=" last">
                                <a href="#" title="Suppliers">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-padding social">
                <ul class="link">
                    <li class="fb pull-left">
                        <a href="#" rel="nofollow" target="_self" title="Facebook"></a>
                    </li>
                    <li class="tw pull-left">
                        <a href="#" rel="nofollow" target="_self" title="Twitter"></a>
                    </li>
                    <li class="googleplus pull-left">
                        <a href="#" rel="nofollow" target="_self" title="GooglePlus"></a>
                    </li>
                    <li class="linkedin pull-left">
                        <a href="#" rel="nofollow" target="_self" title="Linkedin"></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 no-padding">
                <div class="clearfix payment-methods">
                    <ul>
                        <li><img alt="" src="public/webpage/images/payments/1.png"></li>
                        <li><img alt="" src="public/webpage/images/payments/2.png"></li>
                        <li><img alt="" src="public/webpage/images/payments/3.png"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- ============================================================= FOOTER : END============================================================= -->


<!-- For demo purposes – can be removed on production -->


<!-- For demo purposes – can be removed on production : End -->

<!-- JavaScripts placed at the end of the document so the pages load faster -->
{#<script src="public/webpage/js/jquery-3.3.1.min.js"> </script>


<script src="public/webpage/js/bootstrap.min.js"></script>

<script src="public/webpage/js/bootstrap-hover-dropdown.min.js"></script>
<script src="public/webpage/js/owl.carousel.min.js"></script>

<script src="public/webpage/js/echo.min.js"></script>
<script src="public/webpage/js/jquery.easing-1.3.min.js"></script>
<script src="public/webpage/js/bootstrap-slider.min.js"></script>
<script src="public/webpage/js/jquery.rateit.min.js"></script>
<script src="public/webpage/js/lightbox.min.js" type="text/javascript"></script>
<script src="public/webpage/js/bootstrap-select.min.js"></script>
<script src="public/webpage/js/wow.min.js"></script>
<script src="public/webpage/js/scripts.js"></script>
<script src="public/webpage/js/jquery.dataTables.min.js"></script>
<script src="public/webpage/js/dataTables.bootstrap4.min.js"></script>
<script src="public/webpage/js/dataTables.buttons.min.js"></script>
<script src="public/webpage/js/buttons.bootstrap4.min.js"></script>
<script src="public/webpage/js/jszip.min.js"></script>
<script src="public/webpage/js/pdfmake.min.js"></script>
<script src="public/webpage/js/vfs_fonts.js"></script>
<script src="public/webpage/js/buttons.html5.min.js"></script>
<script src="public/webpage/js/buttons.print.min.js"></script>
<script src="public/webpage/js/buttons.colVis.min.js"></script>
<script src="public/webpage/js/buttons.colVis.min.js"></script>#}

<script src="public/webpage/js/bundle.js"></script>
<script src="public/webpage/js/pagination.min.js"></script>
{# <script src="public/webpage/js/jquery-ui.js"></script>


<script src="public/webpage/js/switchstylesheet.js"></script></body></html> #}

<script>
    $(document).ready(function() {

        $('.dropdown-menu a').click(function(){
            var selectedcat = $(this).text();
            $('#category').html(selectedcat + "<b class='caret'></b>");
            $('#productcategory').val(selectedcat);
        });


        $('#carMake').on('change', function() {
            var carmake = this.value;
            $.ajax({
                type: "POST",
                url: "{{ path_for('product.getcarmodellist') }}",
                data: {carmake : carmake},
                success: function(result){
                    var data = jQuery.parseJSON(result);
                    $("#carModel").empty();
                    $("#carModel").append($("<option />").val('').text('Vechile Model'));
                    $.each(data, function(key,value) {
                        $("#carModel").append($("<option />").val(value.productCarModel).text(value.productCarModel));
                    }); 
                }
            });
        });

        var tbl = $('#reviewsTable').DataTable({
            "ordering":  false,
            "bLengthChange": false,
            "bInfo" : false,
            "pageLength": 7
        });

        $('div.rateit, span.rateit').rateit();

        $('#submitReview').click(function() {
            var rating = $('#reviewRating').rateit('value');
            var reviewText = $('#reviewText').val();
            var cid = $('#cid').val();
            var cname = $('#cname').val();
            var pid = $('#pid').val();
            $.ajax({
                type: "POST",
                url: "{{ path_for('review.addreview') }}",
                data: {rating : rating, reviewText : reviewText, cid : cid, cname : cname, pid : pid},
                success: function(result){
                }
            });
        });

        $('#addtocart').click(function() {
            var productId = $('#ppid').val();
            var productQty = $('#pqty').val();
            if(productQty == '' || productQty === 0)
                productQty = 1;
            $.ajax({
                type: "POST",
                url: "{{ path_for('cart.addtocart') }}",
                data: {productId : productId, productQty : productQty},
                success: function(result) {
                }
            });
            $.ajax({
                type: "GET",
                url: "{{ path_for('cart.updatecartdisplayquantity') }}",
                success: function(result) {
                    $('#cartcount').html(result);
                }
            });
            //updatecartquantitydisplay
        });

        $('.addtocart').click(function() {
            var productId = $(this).attr("id");
            var productQty = '1'
            $.ajax({
                type: "POST",
                url: "{{ path_for('cart.addtocart') }}",
                data: {productId : productId, productQty : productQty},
                success: function(result) {
                }
            });
            $.ajax({
                type: "GET",
                url: "{{ path_for('cart.updatecartdisplayquantity') }}",
                success: function(result) {
                    $('#cartcount').html(result);
                }
            });
        });

        $('#addtowishlist').click(function() {
            var productId = $('#ppid').val();
            var customerId = $('#cid').val();
            $.ajax({
                type: "POST",
                url: "{{ path_for('wishlist.addtowishlist') }}",
                data: {productId : productId, customerId : customerId},
                success: function(result) {
                }
            });
        });

        $('.addtowishlist').click(function() {
            var productId = $(this).attr("id");
            var customerId = $(this).children("i").attr("id");
            $.ajax({
                type: "POST",
                url: "{{ path_for('wishlist.addtowishlist') }}",
                data: {productId : productId, customerId : customerId},
                success: function(result) {
                }
            });
        });

        $('.qty').on('change', function() {
            requiredQuantity = parseInt($(this).val());
            var productId = $(this).attr('id');
            var price = $(this).closest('td').next('td').find('.cart-sub-total-price').text();
            
            var formattedPrice  = parseInt(price.replace('₹', ''));
            newprice = requiredQuantity*formattedPrice;
            $(this).closest('td').next('td').next('td').find('.cart-grand-total-price').text('₹' + newprice);
            $.ajax({
                type: "POST",
                url: "{{ path_for('cart.updatecart') }}",
                data: {productId : productId, requiredQuantity : requiredQuantity},
                success: function(result) {
                    location.reload();
                }
            });
            
            var subTotal = $('#subTotalBeforeDC').text();
            var formattedSubTotal  = parseInt(subTotal.replace('₹', ''));
            var temp = $('body').find(".cart-grand-total-price").text();
            var array = temp.split("₹");
            console.log(array);
            var st = 0;
            array.forEach(function(value) {
                if(value != "")
                    st = st + parseInt(value);
            });
            console.log(st);
            gt = st + 50
            $('#subTotalBeforeDC').text('₹'+st);
            $('#subTotalAfterDC').text('₹'+gt);
        });

        $(".deletefromcart").click(function() {
            var productId = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: "{{ path_for('cart.deletefromcart') }}",
                data: {productId : productId},
                success: function(result) {
                    location.reload();
                }
            });           
            
        });

        $(".deletefromwishlist").click(function() {
            var productId = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: "{{ path_for('wishlist.deletefromwishlist') }}",
                data: {productId : productId},
                success: function(result) {
                    location.reload();
                }
            });
        });

        $('#checkout').click(function() {
            $('#billinginfo').trigger('click');
        });
        $('#continuebillinginfo').click(function() {
            $('#shippingaddress').trigger('click');
        });
        $('#continueorderreview').click(function() {
            $('#orderreview').trigger('click');
            var fullName = $("#fullName").val();
            var contactNumber = $("#contactNumber").val();
            var pinCode = $("#pinCode").val();
            var area = $("#area").val();
            var flatNo = $("#flatNo").val();
            var city = $("#city").val();
            var landmark = $("#landmark").val();
            var state = $("#state").val();
            var shipto = 'Deliver to : ' + fullName + ', ' + flatNo + ', ' + area + ', ' + landmark + ', ' 
                + city + ', ' + state + ', ' + pinCode ;
            var address = flatNo + ', ' + area + ', ' + landmark + ', ' + city + ', ' + state + ', ' + pinCode ;
            $("#shipto").html(shipto);
            $.ajax({
                type: "POST",
                url: "{{ path_for('order.pay') }}",
                data: {contactNumber : contactNumber, address: address},
                success: function(result) {
                    $("#shippingForm").append("<input type = 'hidden' value = '" + result + "' id = 'paymentConfig' >");
                }
            });
        });

        $('#backtoshippingaddress').click(function() {
            $('#shippingaddress').trigger('click');
        });

        $('#pay').click(function() {
            var encodedOptions = $('#paymentConfig').val();
            options = JSON.parse(encodedOptions);

            options.handler = function (response){
                var rzrorderid = response.razorpay_order_id;
                var rzrpayid = response.razorpay_payment_id;
                var rzrpaysign = response.razorpay_signature;
                //console.log(response);
                $.ajax({
                    type: "POST",
                    url: "{{ path_for('order.paymentsuccess') }}",
                    data: {rzrpayid : rzrpayid, rzrpaysign: rzrpaysign, rzrorderid: rzrorderid},
                    success: function(data) {
                        console.log(data);

                        // console.log(JSON.parse(data))
                        // var d = JSON.parse(data);
                        // console.log(d.orderid)
                        // var od = d.orderid;
                        // var rp = d.rzrpayid;
                        // console.log(url)
                        // console.log(url2)
                        window.location.href = data;
                    }
                });
            };
            options.modal = {
                ondismiss: function() {
                    console.log("This code runs when the popup is closed");
                },
                // Boolean indicating whether pressing escape key 
                // should close the checkout form. (default: true)
                escape: true,
                // Boolean indicating whether clicking translucent blank
                // space outside checkout form should close the form. (default: false)
                backdropclose: false,
                onhidden: true
            };
            var rzp = new Razorpay(options);

            rzp.open();
            
        });
        
        $('#pinCode').on('blur',function() {
            var pincode = $(this).val();
            var url = 'https://pincode.saratchandra.in/api/pincode/' + pincode;
            $.getJSON(url, function(json_data){

                var state = JSON.stringify(json_data.data[0].state_name).substr(1).slice(0, -1);
                var city = JSON.stringify(json_data.data[0].taluk).substr(1).slice(0, -1);
                $('#city').val(city);
                $('#state').val(state);
                console.log(JSON.stringify(json_data));
                console.log(state);
                console.log(city);
            });
            
        });

        $('#searchfield').autocomplete({
            source: "{{ path_for('product.autocomplete')}}",
            //source: ['hello','Sail','Sail Hatchback',],
            minLength: 2
        });

        // $('#productSearchList').DataTable({
        //     "bFilter": false,
        //     "ordering":  false,
        //     "bLengthChange": false,
        //     "pageLength": 9,
        //     "processing" : true,
        //     "serverSide" : true,
        //     "ajax" : "{{ path_for('product.productsearchddf') }}",
        //     "deferLoading": 10,
        //      "oLanguage": {
        //         "sEmptyTable": "<center><img src = 'public/Webpage/images/sadcart.png'><br><h4 style = 'text-align:center'>Sorry no such products were found</h4></center>"
        //     }
        // });

        $('#pages').click(function() {
            // $('html, body').animate({
            //     scrollTop: $("#searchfield").offset().top
            // }, 'slow');
            alert("Works");
        });

        $('#searchfield').val($('#searchfield').val().trim());
        $('#productcategory').val($('#productcategory').val().trim());

        $('#customfile1').change(function(){
            var t = $(this).val();
            var labelText = t.substr(12, t.length);
            $("#custominput1").val(labelText);
        });
        $('#customfile2').change(function(){
            var t = $(this).val();
            var labelText = t.substr(12, t.length);
            $("#custominput2").val(labelText);
        });
        $('#customfile3').change(function(){
            var t = $(this).val();
            var labelText = t.substr(12, t.length);
            $("#custominput3").val(labelText);
        });
        $('#customfile4').change(function(){
            var t = $(this).val();
            var labelText = t.substr(12, t.length);
            $("#custominput4").val(labelText);
        });

       

        $('#searchquery').click(function() {
            var searchText = $('#searchfield').val();
            var productType = $('#productcategory').val();
            console.log(searchText, productType)
            $.ajax({
                url: "{{ path_for('product.productsearchurlstring' )}}",
                type: "GET",
                data: {searchText: searchText, productType: productType},
                success: function (data) {
                    //console.log('URL - ' + data);
                    //pp(searchText, productType, $('#totalproductcount').val());
                    window.location.href = data;
                    //alert('Success response: ' + data);
                }
            });
        });

        if($('#totalproductcount').val() > 0) {
            var tn = parseInt($('#totalproductcount').val());
            pp($('#searchfield').val(), $('#productcategory').val(), tn);

        }
    

        //pp($('#searchfield').val(), $('#productcategory').val(), $('#totalproductcount').val());
        

        function pp(st, pt, tn) {
            var paginate = $('#pages');
            console.log(tn);
            var data = []
            paginate.pagination({
                className: 'paginationjs paginationjs-big paginationjs-theme-green',
                ulClassName: 'clearfix pagenumbers',
                dataSource: "{{ path_for('product.psearch', {'initial': 1,'searchtext': 'none', 'producttype': 'none', 'offset': '0'}) }}",
                locator: 'data',
                totalNumber: tn,
                prevText: 'Prev',
                nextText: 'Next',
                pageSize: 9,

                callback: function(data, pagination) {
                    var dataHtml = '';
                    var searchtext = st == '' ? 'none' : st;
                    console.log(pagination);
                    pagenumber = pagination.pageNumber;
                    var offset = (pagenumber == 1) ?  0 : (pagenumber-1) * 9;
                    // template method of yourself
                    //console.log(currentPage + length);
                    var producttype = pt == 'ALL CATEGORIES' ? 'none' : pt;

                    $.ajax({
                        type: "GET",
                        url: `{{ path_for('product.psearch', {'initial': 0, 'searchtext': '`+searchtext+`', 'producttype': '`+producttype+`', 'offset': '`+offset+`'}) }}`,
                        success: function(jsondata) {
                            console.log(`{{ path_for('product.psearch', {'initial': 0, 'searchtext': '`+searchtext+`', 'producttype': '`+producttype+`', 'offset': '`+offset+`'}) }}`);
                            jd = JSON.parse(jsondata);
                            jd = JSON.parse(jsondata);
                            console.log(jd);
                            var len = jd.length;
                            for(var i=0;i<len;i++) {
                                var URL = jd[i].productURL
                                var PID = jd[i].productId
                                var AVG = jd[i].avg == null ? 0: jd[i].avg;
                                var rating = "<div class='rateit rating rateit-range rateit-small' data-rateit-value= '"+AVG +"' data-rateit-min='0' data-rateit-max='5' data-rateit-readonly='true' >"
                                //var rating = "<div id='rateit-range-2' class='rateit-range' tabindex='0' role='slider' data-rateit-value='"+ AVG +"' aria-label='rating' aria-owns='rateit-reset-2' aria-valuemin='0' aria-valuemax='5' aria-valuenow='4' aria-readonly='true' style='width: 70px; height: 14px;'><div class='rateit-selected' style='height: 14px; width: 56px;'></div><div class='rateit-hover' style='height:14px'><div class='rateit-selected' style='height: 14px; width: 56px;'></div><div class='rateit-hover' style='height:14px'></div></div>"
                                
                                //console.log(rating)
                                dataHtml = dataHtml +
                                        "<div class='products col-md-4' style='padding:10px'>" +
                                            "<div class='product'>"+
                                                "<div class='product-image'>"+
                                                    "<div class='image'>"+
                                                        "<a href='{{ path_for('product.showproductdetails') }}"+URL+"/"+PID+"'><img alt='' src='{{ '"+jd[i].productImage1+"' }}'></a>"+
                                                    "</div>"+
                                                "</div>"+
                                                "<div class='product-info text-left'>"+
                                                    "<h3 class='name'>"+
                                                        "<a 'href='{{ path_for('product.showproductdetails', {'name': '"+jd[i].productURL+"', 'id': '"+jd[i].productId+"' }) }}'>{{ '"+jd[i].productName.substring(0, 28)+"' }}</a>"+
                                                    "</h3>"+
                                                        rating +
                                                    "</div><div class='description'></div>"+
                                                    "<div class='product-price'>"+
                                                        "<span class='price'>₹ "+jd[i].productSP+"</span>"+
                                                        "<span class='price-before-discount'>₹ "+jd[i].productMRP+" </span>"+
                                                    "</div>"+
                                                "</div>"+
                                                "<div class='cart clearfix animate-effect'>"+
                                                    "<div class='action'>"+
                                                        "<ul class='list-unstyled'>"+
                                                            "<li class='add-cart-button btn-group'>"+
                                                                "<a class='btn btn-primary icon addtocart' id='{{ '"+jd[i].productId+"'|escape }}' data-toggle='tooltip' title='Add Cart' type='button'>"+
                                                                    "<i class='fa fa-shopping-cart'></i>"+
                                                                "</a>"+
                                                            "</li>"+
                                                            "<li class='lnk wishlist'>"+
                                                                "<a class='addtowishlist' id='{{ '"+jd[i].productId+"'|escape }}' data-toggle='tooltip' title='Wishlist'>"+
                                                                    "<i class='icon fa fa-heart' id='{{ cid }}'></i>"+
                                                                "</a>"+
                                                            "</li>"+
                                                        "</ul>"+
                                                    "</div>"+
                                                "</div>"+
                                            "</div>"+
                                        "</div>";
                                    
                            }
                            //$('#data').html('');
                            $('#productsgrid').html(dataHtml);
                            $('div.rateit, span.rateit').rateit();
                            $('.addtocart').click(function() {
                                var productId = $(this).attr("id");
                                var productQty = '1'
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path_for('cart.addtocart') }}",
                                    data: {productId : productId, productQty : productQty},
                                    success: function(result) {
                                    }
                                });
                                $.ajax({
                                    type: "GET",
                                    url: "{{ path_for('cart.updatecartdisplayquantity') }}",
                                    success: function(result) {
                                        $('#cartcount').html(result);
                                    }
                                });
                            });
                        }
                        
                    });
                }
            });  
        }

        $(".price-before-discount").click(function() {
            alert("Okay");
        }) 
        

    });
    

</script>
</html>
