{% extends "Layouts/homeLayout.twig" %}

{% block user %}
    {% if cname == '' %}
        <a href="{{ path_for('customer.login') }}">
            <i class="icon fa fa-lock"></i>Login</a>
    {% else %}
        {{ cname }}
    {% endif %}
{% endblock %}

{% block cart %}
    {{ cart }}
{% endblock %}

{% block content %}

    <div class="breadcrumb ">
        <div class="container ">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled ">
                    <li style = "width:61px">
                        <a href="#" >Home</a>
                    </li>
                    <li class='active'>Cart</li>
                </ul>
            </div>
            <!-- /.breadcrumb-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.breadcrumb -->

    <div class="body-content outer-top-xs">

        {% if cartitems|length == 0 %}
            <div class="container">
                <center>
                    <br><br>
                    <div style = ""><img src = "public/webpage/images/emptycart.png" style = "height:150px;width:180px;"/></div><br><br><br>
                    <h5>Opps!  Looks like you have no items in your shopping cart </h5><br><br>
                    <a href = "{{ path_for('customer.home') }}" class = "btn btn-primary">Continue Shopping</a><br><br>
                </center>
            </div>
        {% else %}
            <div class="container">
            <div class="row ">
                <div class="shopping-cart" style="margin-bottom:20px">
                    <div class="shopping-cart-table ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-description item">Image</th>
                                        <th class="cart-product-name item">Product Name</th>
                                        <th class="cart-qty item">Quantity</th>
                                        <th class="cart-sub-total item">Price</th>
                                        <th class="cart-total last-item">Total</th>
                                        <th class="cart-romove item"></th>
                                    </tr>
                                </thead>
                                <!-- /thead -->
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <div class="shopping-cart-btn">
                                                <span class="">
                                                    <a class="btn btn-upper btn-primary outer-left-xs" href="#">Continue Shopping</a>
                                                </span>
                                            </div>
                                            <!-- /.shopping-cart-btn -->
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for cartitem in cartitems %}
                                        <tr id = "tr-{{ cartitem.productId }}">
                                            <td class="cart-image">
                                                <a class="entry-thumbnail" href="{{ path_for('product.showproductdetails', {'name': cartitem.productURL, 'id': cartitem.productId }) }}">
                                                    <img alt="" src="{{ cartitem.productImage1 }}">
                                                </a>
                                            </td>
                                            <td class="cart-product-name-info">
                                                <h4 class='cart-product-description'>
                                                    <a href="{{ path_for('product.showproductdetails', {'name': cartitem.productURL, 'id': cartitem.productId }) }}">{{ cartitem.productName[:28] }}</a>
                                                </h4>
                                                <div class="row">
                                                    <div class="col-sm-4">
										            <div class="rateit rating rateit-range rateit-small" data-rateit-value="{{ cartitem.avg }}" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true" ></div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="reviews">
                                                        {% if cartitem.totalreviews > 0 %}
                                                            <a href="#" class="lnk">({{ cartitem.totalreviews }} Reviews)</a>
                                                        {% else %}
                                                            <a href="#" class="lnk">(No Reviews Yet)</a>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.row -->
                                                <div class="cart-product-info"></div>
                                            </td>
                                            <td class="cart-product-quantity">
                                                <div class="quant-input">
                                                    <div class="arrows">
                                                        
                                                    </div>
                                                    <input type="number" min = "1" id = "{{ cartitem.productId }}" class = "qty" value="{{ cartitem.quantityRequired }}">
                                                </div>
                                            </td>
                                            <td class="cart-product-sub-total">
                                                <span class="cart-sub-total-price">₹ {{ cartitem.productSP }}</span>
                                            </td>
                                            <td class="cart-product-grand-total">
                                                <span class="cart-grand-total-price">₹ {{ (cartitem.quantityRequired * cartitem.productSP) }}</span>
                                            </td>
                                            <td class="#" class="icon" title="Delete">
                                                <a id = "{{ cartitem.productId }}" class = "deletefromcart">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                        </tbody>
                        <!-- /tbody -->
                    </table>
                    <!-- /table -->
                </div>
            </div>
            <!-- /.shopping-cart-table -->
            <div class="col-md-6 col-sm-12 estimate-ship-tax">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <span class="estimate-title">Estimate shipping and tax</span>
                                <p>The tax and shipping cost for orders over ₹ 500 is included in the grand total.</p>
                            </th>
                        </tr>
                    </thead>
                    <!-- /thead -->
                    <tbody>
                        <tr>
                            <td>
                                {% if subTotal < 500 %}
                                    <span class="estimate-title">Shipping Charges : {{ subtotal }} ₹50</span>
                                
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.estimate-ship-tax -->


            <div class="col-md-6 col-sm-12 cart-shopping-total" style="margin-top:-11px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <div class="cart-sub-total">
                                    Total<span class="inner-left-md" id = "subTotalBeforeDC">₹ {{ subTotal}}</span>
                                </div>
                                <div class="cart-grand-total">
                                    Grand Total<span class="inner-left-md" id = "subTotalAfterDC">₹ {{ (subTotal) == 0 ? '0' : (subTotal) < 500 ? subTotal + 50 : subTotal }} </span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <!-- /thead -->
                    <tbody>
                        <tr>
                            <td>
                                <div class="cart-checkout-btn pull-right">
                                    <a href = "{{ path_for('order.checkout') }}"><button class="btn btn-primary checkout-btn" type="submit">PROCCED TO CHEKOUT</button></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!-- /tbody -->
                </table>
                <!-- /table -->
            </div>
            <!-- /.cart-shopping-total -->
        </div>

        {% endif %}
        
        
    </div>
    </div>
        <!-- /.shopping-cart -->
    <!-- /.row -->

{% endblock %}
