{% extends "Layouts/homeLayout.twig" %}

{% block user %} 
	{% if cname == '' %}
		<a href="{{ path_for('customer.login') }}"><i class="icon fa fa-lock"></i>Login</a>
	{% else %}
		{{ cname }}
	{% endif %}
{% endblock %}

{% block cart %}
	{{ cart }}
{% endblock %}

{% block content %}

<style>
	.table > tbody > tr > td {
		padding:10px;
	}
	.disabled {
		pointer-events: none;
	}
	.disabled:hover {
		cursor: not-allowed;
	}
</style>

<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="#">Home</a></li>
				<li class='active'>Checkout</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="checkout-box ">
			<div class="row">
				<div class="col-md-8">
					<div class="panel-group checkout-steps" id="accordion">
						<!-- checkout-step-01  -->
<div class="panel panel-default checkout-step-01">

	<!-- panel-heading -->
		<div class="panel-heading">
    	<h4 class="unicase-checkout-title">
	        <a data-toggle="collapse" class="disabled" data-parent="#accordion" href="checkout.html#collapseOne">
	          <span>1</span>User Profile
	        </a>
	     </h4>
    </div>
    <!-- panel-heading -->

	<div id="collapseOne" class="panel-collapse collapse in">

		<!-- panel-body  -->
	    <div class="panel-body">
			<div class="row">		

				<!-- guest-login -->
				{% for customer in customer %}				
				<div class="col-md-12 col-sm-12 guest-login">
					<h4 class="checkout-subtitle">Hello, Continue as {{ customer.customerName }} !</h4>
					{# <p class="text title-tag-line">Register with us for future convenience:</p>

					<!-- radio-form  -->
					<button type="submit" class="btn-upper btn btn-primary checkout-page-button checkout-continue " style = "margin-right: 30px">Login</button>
					<button type="submit" class="btn-upper btn btn-primary checkout-page-button checkout-continue ">Register</button>

					
					<!-- radio-form  -->

					<h4 class="checkout-subtitle outer-top-vs">Register and save time</h4>
					<p class="text title-tag-line ">Register with us for future convenience:</p>
					
					<ul class="text instruction inner-bottom-30">
						<li class="save-time-reg">- Fast and easy check out</li>
						<li>- Easy access to your order history and status</li>
					</ul> #}
					<br>
					<button type="submit" class="btn-upper btn btn-primary checkout-page-button checkout-continue" id = "checkout">Continue</button>
				</div>

				{% endfor %}
				<!-- guest-login -->

				<!-- already-registered-login -->

				<!-- already-registered-login -->		

			</div>			
		</div>
		<!-- panel-body  -->

	</div><!-- row -->
</div>
<!-- checkout-step-01  -->
					    <!-- checkout-step-02  -->
					  	<div class="panel panel-default checkout-step-02">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" id = "billinginfo" class="collapsed disabled" data-parent="#accordion" href="checkout.html#collapseTwo" >
						          <span>2</span>Items for purchase
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
								<div class = "table-responsive">
									<table class="table">
										
										<tbody>
											
											{% for cartitem in cartitems %}
												
												<tr>
													<td class="cart-image" style="width:20%">
														<a class="entry-thumbnail" href="detail.html">
															<img src="{{ cartitem.productImage1 }}" alt="">
														</a>
													</td>
													<td class="cart-product-name-info" style="width:60%">
														<h4 class='cart-product-description' style="margin-left:-15px" ><a href="detail.html" style="margin-right:-25px">{{ cartitem.productName[:28] }}</a></h4>
														<div class="row">
															<div class="reviews">
																	{{ cartitem.prooductDescription }}
															</div>
															<div class="reviews" style="margin-top:15px">
																Quantity: {{ cartitem.quantityRequired }} 
															</div>
														</div><!-- /.row -->
														<div class="cart-product-info" style="width:10%">
														</div>
													</td>
													
													<td style = "width:20%" class="cart-product-grand-total"><span class="cart-grand-total-price">₹ {{ cartitem.productSP * cartitem.quantityRequired }}</span></td>
												</tr>
											{% endfor %}

										</tbody><!-- /tbody -->
										<tfoot>
											<tr>
												<td colspan="3">
													<div class="shopping-cart-btn">
														<span class="">
															<div class="cart-grand-total" style="float:left">
															{% if subTotal < 500 %}
																Shipping Charges<span class="inner-left-md">₹50</span>
															{% endif %}
															</div>
															<div class="cart-grand-total" style="float:right; color: green">
															{% if subTotal < 500 %}
																Grand Total<span class="inner-left-md">₹ {{ subTotal + 50 }}</span>
															{% else %}
																Grand Total<span class="inner-left-md">₹ {{ subTotal }}</span>
															{% endif %}
															</div>
														</span>
													</div><!-- /.shopping-cart-btn -->
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<div class="shopping-cart-btn">
														<span class="">
															<button href="#" class="btn btn-upper btn-primary outer-left-xs" id = "continuebillinginfo">Continue</button>
															<a href="{{ path_for('cart.viewcart') }}" class="btn btn-upper btn-primary pull-right outer-right-xs">Update shopping cart</a>
														</span>
													</div><!-- /.shopping-cart-btn -->
												</td>
											</tr>
										</tfoot>
									</table><!-- /table -->
							

							
								</div>
						      </div>
						    </div>
					  	</div>
					  	<!-- checkout-step-02  -->

						<!-- checkout-step-03  -->
						{% for customer in customer %}
							
						
					  	<div class="panel panel-default checkout-step-03">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed disabled" id = "shippingaddress" data-parent="#accordion" href="checkout.html#collapseThree">
						       		<span>3</span>Shipping Address
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="col-md-12">
									<form id = "shippingForm">
										<div class="form-group">
											<label for="fullName">Full Name:</label>
											<input type="text" value = "{{ customer.customerName }}" class="form-control" id="fullName">
										</div>
										<div class="row">
											<div class="form-group col-md-8">
												<label for="contactNumber">Contact Number:</label>
												<input type="text" value = "{{ customer.customerContactNumber }}"  class="form-control" id="contactNumber">
											</div>
											<div class="form-group col-md-4">
												<label for="pinCode">Pin Code:</label>
												<input type="text"  class="form-control" id="pinCode">
											</div>
										</div>
										<div class="form-group">
											<label for="flatNo">Flat/House Number:</label>
											<input type="text" class="form-control" id="flatNo">
										</div>
										<div class="form-group">
											<label for="area">Area, Colony, Street, Sector, Village: </label>
											<input type="text" value = "{{ customer.customerAddress }}" class="form-control" id="area">
										</div>
										<div class="form-group">
											<label for="landmark">Landmark:</label>
											<input type="text" class="form-control" id="landmark">
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<label for="city">Town/City:</label>
												<input type="text" class="form-control" id="city">
											</div>
											<div class="form-group col-md-6">
												<label for="state">State:</label>
												<input type="text" class="form-control" id="state">
											</div>
										</div>
										<div class="form-group">
											<input type="hidden" class="form-control" id="totalamount" value = {{ subTotal }}>
										</div>
										<br>
										<div class="shopping-cart-btn">
											<span class="" style="float:left">
												<a class="btn btn-upper btn-primary outer-left-xs" id = "continueorderreview">Continue</a>
											</span>
										</div><!-- /.shopping-cart-btn -->
									</form>
								</div>
						      </div>
						    </div>
					  	</div>
							{% endfor %}
					  	<!-- checkout-step-03  -->

										
					
						<!-- checkout-step-05  -->
						<div class="panel panel-default checkout-step-02">
								<div class="panel-heading">
								  <h4 class="unicase-checkout-title">
									<a data-toggle="collapse" class="collapsed disabled" id = "orderreview" data-parent="#accordion" href="checkout.html#collapseFour">
									  <span>4</span>Order Review
									</a>
								  </h4>
								</div>
								<div id="collapseFour" class="panel-collapse collapse">
								  <div class="panel-body">
									<div class="container col-md-12">
										<h3>Shipment</h3>
										<p id = "shipto">
											Deliver to: User Name, Flat no 14, sukhwani park-E, near vastu udyog colony, Ajmera road, behind rasrang sweet, pimpri, pune, PUNE, MAHARASHTRA, 411018 India
										</p>
										<br>
										<button href="#" class="btn btn-upper btn-primary outer-left-xs" id = "backtoshippingaddress">Change Address</button>
									</div>
									<div class = "container-fluid col-md-12 table-responsive" style = "margin:10px">
										<table class="table">
											<tbody>
												{% for cartitem in cartitems %}
													<tr>
														
														<td class="cart-product-name-info" style="width:90%">
															<h4 class='cart-product-description' style="margin-left:-15px"><a href="detail.html" >{{ cartitem.productName[:28] }}</a></h4>
															<div class="row">
																<div class="reviews" style="margin-top:15px">
																	<span class="cart-grand-total-price">₹ {{ cartitem.productSP }}</span> <span class="cart-grand-total-price">- Quantity: {{ cartitem.quantityRequired }}</span>
																</div>
																<div class="reviews" style="margin-top:15px">
																	
																</div>
															</div><!-- /.row -->
															<div class="cart-product-info" style="width:10%">
															</div>
														</td>													
													</tr>
												{% endfor %}
											</tbody><!-- /tbody -->
											<tfoot>
												<tr>
													<td style="width:90%;padding-left:0px">
														<div class="shopping-cart-btn">
															<span class="">
																<div class="cart-grand-total" style="float:left">
																	{% if subTotal < 500 %}
																	Shipping Charges<span class="inner-left-md">₹50</span>
																	{% endif %}
																	</div>
																	<div class="cart-grand-total" style="float:right; color: green">
																	{% if subTotal < 500 %}
																	Grand Total<span class="inner-left-md">₹ {{ subTotal + 50 }}</span>
																	{% else %}
																	Grand Total<span class="inner-left-md">₹ {{ subTotal }}</span>
																	{% endif %}
																</div>
															</span>
														</div><!-- /.shopping-cart-btn -->
													</td>
												</tr>
												<tr>
													<td style = "width:90%;padding-left:0px">
														<div class="shopping-cart-btn">
															<span class="">
																<a id = "pay" class="btn btn-upper btn-primary outer-left-xs col-md-12" style="float:right"><p style = "font-weight:600"> Pay &nbsp;&nbsp;₹ {{ (subTotal) < 500 ? subTotal + 50 : subTotal }}</p></a>
															</span>
														</div><!-- /.shopping-cart-btn -->
													</td>
												</tr>
											</tfoot>
										</table><!-- /table -->
								
	
								
									</div>
								  </div>
								</div>
							  </div>
				
					    <!-- checkout-step-05  -->

						<!-- checkout-step-06  -->
						{# <div class="panel panel-default checkout-step-05">
							<div class="panel-heading">
								<h4 class="unicase-checkout-title">
								<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="checkout.html#collapseFive">
									<span>5</span>Payment METHOD
								</a>
								</h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="container col-md-12">
											<div class="row">
												<div class="col-xs-12 col-md-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h3 class="panel-title">
																Payment Details
															</h3>
														</div>
														<div class="panel-body">
															<form role="form">
															<div class="form-group ">
																<label for="nameOnCard">
																	Name on Card</label>
																<div class="input-group col-md-12">
																	<input type="text" class="form-control" id="cardNumber" placeholder="Card Owner Name"
																		required autofocus />
																</div>
															</div>
															<div class="form-group">
																<label for="cardNumber">
																	Card Number</label>
																<div class="input-group">
																	<input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
																		required autofocus />
																	<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
																</div>
															</div>
															<div class="row">
																<div class="form-group col-md-4">
																	<label for="cardNumber">
																		Month</label>
																	<div class="input-group">
																		<input type="text" class="form-control" id="cardNumber" placeholder="MM"
																			required autofocus />
																	</div>
																</div>
																<div class="form-group col-md-4">
																	<label for="cardNumber">
																		Year</label>
																	<div class="input-group">
																		<input type="text" class="form-control" id="cardNumber" placeholder="YYYY"
																			required autofocus />
																	</div>
																</div>
																<div class="form-group col-md-4">
																	<label for="cardNumber">
																		CVV</label>
																	<div class="input-group">
																		<input type="password" class="form-control" id="cardNumber" placeholder="CVV"
																			required autofocus />
																	</div>
																</div>
															</div>
															</form>
														</div>
													</div>
													<ul class="nav nav-pills nav-stacked">
														<li class="active"><a href="#"><span class="badge pull-right">₹ {{ subTotal + 50 }}</span> Make Payment</a>
														</li>
													</ul>
													<br/>
													<a href="http://www.jquery2dotnet.com" class="btn btn-success btn-lg btn-block" role="button">Pay ₹ {{ subTotal + 50 }}</a>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div> #}
					  	<!-- checkout-step-06  -->
					  	
					</div><!-- /.checkout-steps -->
				</div>
				<div class="col-md-4">
					<!-- checkout-progress-sidebar -->
<div class="checkout-progress-sidebar ">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h4 class="unicase-checkout-title">Your Checkout Progress</h4>
		    </div>
		    <div class="">
				<ul class="nav nav-checkout-progress list-unstyled">
					<li><a href="#">User Profile</a></li>
					<li><a href="#">Items for Purchase</a></li>
					<li><a href="#">Shipping Address</a></li>
					<li><a href="#">Order Review</a></li>
				</ul>		
			</div>
		</div>
	</div>
</div> 
<!-- checkout-progress-sidebar -->				</div>
			</div><!-- /.row -->
		</div><!-- /.checkout-box -->
</div><!-- /.body-content -->

{% endblock %}