{% extends "Layouts/homeLayout.twig" %}

{% block user %}
    {% if cname == '' %}
        <a href="{{ path_for('customer.login') }}">
            <i class="icon fa fa-lock"></i>Login</a>
    {% else %}
        {{ cname }}
    {% endif %}
{% endblock %}

{% block cart %}
    {{ cart }}
{% endblock %}

{% block content %}

   

{% endblock %}
