{% extends "Layouts/homeLayout.twig" %}

{% block user %}
    {% if cname == '' %}
        <a href="{{ path_for('customer.login') }}">
            <i class="icon fa fa-lock"></i>Login</a>
    {% else %}
        {{ cname }}
    {% endif %}
{% endblock %}

{% block cart %}
    {{ cart }}
{% endblock %}

{% block content %}
<style>
    .customorderinfo li {
        padding:10px
    }
</style>

    <div class="breadcrumb ">
        <div class="container ">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled ">
                    <li style = "width:61px">
                        <a href="#" >Home</a>
                    </li>
                    <li class='active'>Custom Order</li>
                </ul>
            </div>
            <!-- /.breadcrumb-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.breadcrumb -->

    <div class="body-content outer-top-xs">
        <div class="container">
            <div class="row ">
                <div class="col-md-8">
                    <form action="{{ path_for('order.addcustomorder') }}" class="" method = "post" enctype = "multipart/form-data" >
                        <div class="form-group col-md-12">
                                <label for="text">TEXT </label>
                                <input type="text" class="form-control" id="text" name = "text" >
                            </div>
                            <div class = "form-group col-md-6">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" name = "customfile1" id = "customfile1" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" value = "Click browse to upload file" class="form-control" id = 'custominput1' readonly>
                                </div>
                            </div>
                            <div class = "form-group col-md-6">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" name = "customfile2" id = "customfile2" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" value = "Click browse to upload file" class="form-control" id = 'custominput2' readonly>
                                </div>
                            </div>
                            <div class = "form-group col-md-6">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" name = "customfile3" id = "customfile3" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" value = "Click browse to upload file" class="form-control" id = 'custominput3' readonly>
                                </div>
                            </div>
                            <div class = "form-group col-md-6">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" name = "customfile4" id = "customfile4" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" value = "Click browse to upload file" class="form-control" id = 'custominput4' readonly>
                                </div>
                            </div>
                            
                            <div class="form-group  col-md-4">
                                <br><br>
                                <input type="submit" class="btn btn-primary" value = "Get a Quote !">
                            </div>
                    </form>
                    
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                    <br>
                        <span class = "alert alert-info col-md-12 customorderinfo">
                            <ul style = "list-style-type:disc;margin-left:10px">
                                <li>The cost for simple text orders is ₹ 20 per alphabet. Additional texture and design cost will be added to the base cost of ₹ 20 per alphabet.</li>
                                <li>Upload any resource that is related to your order request. You can only upload images in .jpeg, .jpg or .png format.</li>
                                <li>Once you have placed the order we will get back to you via your registered email address and you contact number. Pleae make sure you have filled the contact number field as well.</li>
                            </ul>
                        </span>
                    </div>

                </div>

            </div>
            <br><br>

        </div>
    </div>

{% endblock %}
