{% extends "Layouts/homeLayout.twig" %}

{% block user %}
    {% if cname == '' %}
        <a href="{{ path_for('customer.login') }}">
            <i class="icon fa fa-lock"></i>Login</a>
    {% else %}
        {{ cname }}
    {% endif %}
{% endblock %}

{% block cart %}
    {{ cart }}
{% endblock %}

{% block content %}
 <style>
    .active a:hover {
        background-color:#59B210;
    }        
            
</style>
{% for customer in customer %}
    

    <div class="body-content outer-top-xs">
        <div class="container">
            <div class="col-md-12">
                <br><br><br>
                <div class="product-tabs inner-bottom-xs  wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-3">
                            <ul class="nav nav-tabs nav-tab-cell" id="product-tabs" style="border-bottom: 0px solid #ddd;">
                                <li class="active col-md-12">
                                    <a data-toggle="tab" href="#general" class = "active" style="padding:20px">ACCOUNT DETAILS</a>
                                </li>
                                <li class="col-md-12">
                                    <a data-toggle="tab" href="#password" style="padding:20px">CHANGE PASSWORD</a>
                                </li>
                            </ul>
                            <!-- /.nav-tabs #product-tabs -->
                        </div>
                        <div class=" col-sm-9">

                            <div class="tab-content">
                                <div class="tab-pane in active" id="general">
                                    <div class="col-md-12">
                                        <form action="{{ path_for('customer.updateaccountinfo') }}" method="post">
                                            <div class="form-group">
                                                <label for="name">
                                                    Name</label>
                                                <input class="form-control" name = "name" id="name" type="text" value = "{{ customer.customerName }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">
                                                    Email</label>
                                                <input class="form-control" disabled name = "email" id="email" type="email" value = "{{ customer.customerEmail }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="cn">
                                                    Contact Number</label>
                                                <input class="form-control" id="cn" name = "cn" type="text" value = "{{ customer.customerContactNumber }}">

                                            </div>
                                            <div class="form-group">
                                                <label for="address">
                                                    Address</label>
                                                <textarea class="form-control" id="address" name = "address" style = "height:100px">{{ customer.customerAddress }}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="">
                                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="password">
                                    {% if customer.authProvider == 'carmetics' %}
                                        <div class="col-md-12" style = "margin-top:10px">
                                            <form action = "{{ path_for('customer.updatepassword') }}" method="post">
                                                <div class="form-group">
                                                    <label for="password">Enter Password</label>
                                                    <input class="form-control" name = "currentPassword" id="password" type="password">

                                                </div>
                                                <div class="form-group">
                                                    <label for="newpassword">
                                                        Enter New Password</label>
                                                    <input class="form-control" name = "newPassword" id="newpassword" type="password">

                                                </div>
                                                <div class="form-group">
                                                    <label for="confirmpassword">
                                                        Re-Enter New Password</label>
                                                    <input class="form-control" id="confirmpassword" name = "confirmPassword" type="password">
                                                </div>
                                                <div class="form-group">
                                                    <div class="">
                                                        <button class="btn btn-primary" type="submit">UPDATE PASSWORD</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% else %}
                                        <br><br><br>
                                        <h4 style = "text-align:center">You cannot change your from here password as you </h4>
                                        <h4 style = "text-align:center">have used your {{ customer.authProvider}} account to signin</h4>
                                    
                                    {% endif %}
                                    
                                    <div>
                                    </div>
                                    
                                    <!-- /.product-tab -->
                                </div>
                                <!-- /.tab-pane -->

                                <!-- /.tab-pane -->

                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
