{% extends "Layouts/homeLayout.twig" %}

{% block user %}
    {% if cname == '' %}
        <a href="{{ path_for('customer.login') }}">
            <i class="icon fa fa-lock"></i>Login</a>
    {% else %}
        {{ cname }}
    {% endif %}
{% endblock %}

{% block cart %}
    {{ cart }}
{% endblock %}

{% block content %}

    <div class="container">
        <center>
            <br><br>
            <img src = "public/webpage/images/tick.png" style = "width:200px;height:190px" />
            <br><br><br>
            Thank You, Your order "{{ orderId }}" was successfully placed. You can view your order details in your order history.
            Your payment/ transcation number is "{{ paymentId }}". Continue Shopping with Carmetics.
            <br><br><br>
            <a href = "{{ path_for('customer.home') }}" class = "btn-upper btn btn-primary">Continue To Carmetics</a>
            <br><br><br>
        </center>
    </div>

{% endblock %}