{% extends "Layouts/homeLayout.twig" %}

{% block user %}
    {% if cname == '' %}
        <a href="{{ path_for('customer.login') }}">
            <i class="icon fa fa-lock"></i>Login</a>
    {% else %}
        {{ cname }}
    {% endif %}
{% endblock %}

{% block cart %}
    {{ cart }}
{% endblock %}

{% block searchText %}
    {{ searchText }}
{% endblock %}

{% block productType %}
    {{ productType }}
{% endblock %}

{% block content %}
<style>
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #59B210;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #59B210;
  cursor: pointer;
}
#productSearchList_paginate > .pagination>.active>a {
    background-color:#59B210;
    border-color:#59B210;
    color:#fff
}
#productSearchList_paginate > .pagination>li>a {
    color:#373737;
}

td.dataTables_empty {
    text-align: center;    
}
.paginationjs.paginationjs-theme-green .paginationjs-pages li.active>a {
    background: #59B210;
    color: #fff;
}
.paginationjs.paginationjs-theme-green .paginationjs-pages li>a {
    color: #59B210;
    padding-left:15px;
    padding-right:15px;
}
</style>

    <div class="container" style = "margin-top:30px">
        <div class="row">
            <div class="sidebar-module-container">
                <div class='col-md-3'>
                    <div class="sidebar-filter">
                        <!-- ============================================== SIDEBAR CATEGORY ============================================== -->

                        <!-- ============================================== SIDEBAR CATEGORY : END ============================================== -->

                        <!-- ============================================== PRICE SILDER============================================== -->

                            <div class="sidebar-widget wow fadeInUp"> <div class="widget-header">
                                <h4 style = "text-align:center" class="widget-title">Price Slider</h4>
                            </div>
                            <br><br>
                            <div class="slidecontainer">
                                <input type="range" min="1" max="5000" value="500" class="slider" id="myRange" tooltip = "value">
                            </div>
                            <br>
                            <div>
                                <span style = "float:left">₹100</span>
                                <span style = "float:right">₹5000</span>
                            </div>
                            <br><br>
                            <div><button class="btn btn-primary">SEARCH</button></div>
                            
                            {# <div class="sidebar-widget-body m-t-10">
                                <div class="price-range-holder">
                                    <span class="min-max">
                                        <span class="pull-left">$200.00</span>
                                        <span class="pull-right">$800.00</span>
                                    </span>
                                    <input id="amount" style="border:0; color:#666666; font-weight:bold;text-align:center;" type="text">

                                    <input class="price-slider" type="text" value="">

                                </div>
                                <!-- /.price-range-holder -->
                                <a class="lnk btn btn-primary" href="#">SEARCH</a>
                            </div> #}
                            <!-- /.sidebar-widget-body -->
                        </div>
                    </div>
                    <!-- /.sidebar-widget -->
                <!-- ============================================== PRICE SILDER : END ============================================== -->
                    <!-- ============================================== MANUFACTURES============================================== -->

                    <!-- ============================================== MANUFACTURES: END ============================================== -->
                    <!-- ============================================== COLOR============================================== -->

                    <!-- ============================================== COLOR: END ============================================== -->
                    <!-- ============================================== COMPARE============================================== -->

                    <!-- ============================================== COMPARE: END ============================================== -->
                    <!-- ============================================== PRODUCT TAGS ============================================== -->

                    <!-- ============================================== PRODUCT TAGS : END ============================================== -->
                    <!-- <!-- ============================================== Testimonials============================================== -->


                    <!-- ============================================== Testimonials: END ============================================== -->


                </div>
                <!-- /.sidebar-filter -->
            </div>


            <div class='col-md-9' style="margin-top:-10px;margin-bottom:40px">
                <!-- ========================================== SECTION – HERO ========================================= -->


                <!-- ========================================= SECTION – HERO : END ========================================= -->
                <div class="clearfix filters-container m-t-10"> 
                    <div class="row">
                        <div class="col col-sm-6 col-md-2">
                            <div class="filter-tabs">
                                <ul class="nav nav-tabs nav-tab-box nav-tab-fa-icon" id="filter-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="category.html#grid-container">
                                            <i class="icon fa fa-th-large"></i>Grid</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.filter-tabs -->
                        </div>
                        <!-- /.col -->
                        <div class="col col-sm-12 col-md-6">
                            <div class="col col-sm-3 col-md-6 no-padding">
                                
                                <!-- /.lbl-cnt -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.col -->
                        <div class="col col-sm-6 col-md-4 text-right">
                            <div class="lbl-cnt">
                                    <span class="lbl">Sort by</span>
                                    <div class="fld inline">
                                        <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                                            
                                            <select class = "form-control" name = "sort" id = "sort">
                                                <option value = ""></option>
                                                <option value = "NameASC">Product Name: A-Z</option>
                                                <option value = "RatingHIGH">Rating: Highest First</option>
                                                <option value = "PriceHIGH">Price: Highest First</option>
                                                <option value = "PriceLOWEST">Price: Lowset First</option>
                                            </select>

                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation">
                                                    <a href="#">position</a>
                                                </li>
                                                <li role="presentation">
                                                    <a href="#">Price:Lowest first</a>
                                                </li>
                                                <li role="presentation">
                                                    <a href="#">Price:HIghest first</a>
                                                </li>
                                                <li role="presentation">
                                                    <a href="#">Product Name:A to Z</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.fld -->
                                </div>
                            
                            <!-- /.pagination-container -->
                        </div>
                    <!-- /.col -->
                    </div>
                </div>
                <div class="search-result-container ">
                    <div class="row">
                    
                    </div>
                    <div class="tab-content category-list" id="myTabContent">
                        <div class="tab-pane active " id="grid-container">
                            <div class="category-product" id = "productsgrid">
                                <input type = "hidden" id = "totalproductcount" value = "{{ count }}"/>
                                
                                {% for product in products %}
                                    <div class="products col-md-4" style="padding:10px">

                                        <div class="product">
                                            <div class="product-image">
                                                <div class="image">
                                                    <a href="{{ path_for('product.showproductdetails', {'name': product.productURL, 'id': product.productId }) }}"><img alt="" src="{{ product.productImage1 }}"></a>
                                                </div>
                                                <!-- /.image -->
                                            </div>
                                            <!-- /.product-image -->


                                            <div class="product-info text-left">
                                                <h3 class="name">
                                                    <a href="href="{{ path_for('product.showproductdetails', {'name': product.productURL, 'id': product.productId }) }}"">{{ product.productName[:28] }}</a>
                                                </h3>
                                                <div class="rateit rating rateit-range rateit-small" data-rateit-value="{{ product.avg }}" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true"></div>
                                                <div class="description"></div>
                                                <div class="product-price">
                                                    <span class="price">₹{{ product.productSP }}</span>
                                                    <span class="price-before-discount">₹
                                                        {{ product.productMRP }}</span>
                                                </div>
                                                <!-- /.product-price -->

                                            </div>
                                            <!-- /.product-info -->
                                            <div class="cart clearfix animate-effect">
                                                <div class="action">
                                                    <ul class="list-unstyled">
                                                        <li class="add-cart-button btn-group">
                                                            <a class="btn btn-primary icon addtocart" id="{{ product.productId }}" data-toggle="tooltip" title="Add Cart" type="button">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>

                                                        </li>

                                                        <li class="lnk wishlist">
                                                            <a class="addtowishlist" id="{{ product.productId }}" data-toggle="tooltip" title="Wishlist">
                                                                <i class="icon fa fa-heart" id="{{ cid }}"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- /.action -->
                                            </div>
                                            <!-- /.cart -->
                                        </div>
                                        <!-- /.product -->

                                        <!-- /.products -->
                                    </div>
                                {% endfor %}
                                
                            </div>
                            <!-- /.category-product -->

                        </div>
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane #list-container -->
                    </div>
                    
                    <!-- /.tab-content -->
                    <div class="clearfix filters-container">
                        <div class="" >
                        <div class="col-md-12 " style = "">
                            <div style = "float:right" id = "pages">
                            </div>
                        </div>
                    </div>
                        
                        <!-- /.text-right -->

                    </div>
                    <!-- /.filters-container -->
                    

                </div>
                <!-- /.search-result-container -->
                

            </div>
        </div>
    </div>
{% endblock %}

