{% extends "Layouts/homeLayout.twig" %}

{% block user %} 
	{% if cname == '' %}
		<a href="{{ path_for('customer.login') }}"><i class="icon fa fa-lock"></i>Login</a>
	{% else %}
		{{ cname }}
	{% endif %}
{% endblock %}

{% block cart %} 
	{{ cart }}
{% endblock %}

{% block content %}

<style>
    #exzoom {
		width: 400px;
		height: 400px;
		background-color: aqua;
		margin-left: 330px;
		margin-top: -350px
	}
	#exzoom .hide {
		display: none;
	}
    .dataTables_filter {
        display:none;
    }
	.pagination>.active>a {
		background-color: #59B210;
    	border-color: #59B210;
	}
	
</style>

{% for product in product %}
    
<div class="breadcrumb">
		<div class="container">
			<div class="breadcrumb-inner">
				<ul class="list-inline list-unstyled">
					<li><a href="{{ path_for('customer.home') }}">Home</a></li>
					<li><a href="{{ path_for('product.productsearchbyspecifics') }}?producttype={{ product.productType }}">{{ product.productType |capitalize }}</a></li>
                    {% if product.productCarMake != '' %}
					    <li><a href="{{ path_for('product.productsearchbyspecifics') }}?carmake={{ product.productCarMake }}">{{ product.productCarMake |capitalize }}</a></li>
                    {% endif %}
                    {% if product.productCarModel != '' %}
					    <li><a href="{{ path_for('product.productsearchbyspecifics') }}?carmodel={{ product.productCarModel }}">{{ product.productCarModel |capitalize }}</a></li>
                    {% endif %}
				</ul>
			</div><!-- /.breadcrumb-inner -->
		</div><!-- /.container -->
	</div><!-- /.breadcrumb -->


	<div class="body-content outer-top-xs">
		<div class='container'>
			<div class='row single-product'>
				
				<div class='col-md-12'>
					<div class="detail-block">
						<div class="row  wow fadeInUp">

							<div class="col-xs-12 col-sm-6 col-md-4 gallery-holder">
								<div class="product-item-holder size-big single-product-gallery small-gallery">

									<div id="owl-single-product">

										<div class="single-product-gallery-item" id="slide1">
											<a data-lightbox="image-1" data-title="Gallery" href="{{ product.productImage1 }}">
												<img class="img-responsive mainimg" alt=""  data-echo="{{ product.productImage1 }}"
												 data-large-img-url="{{ product.productImage1 }}" />
											</a>
										</div><!-- /.single-product-gallery-item -->

										<div class="single-product-gallery-item" id="slide2">
											<a data-lightbox="image-1" data-title="Gallery" href="{{ product.productImage2 }}">
												<img class="img-responsive mainimg" alt="" data-echo="{{ product.productImage2 }}"
												 data-large-img-url="{{ product.productImage2 }}" />
											</a>
										</div><!-- /.single-product-gallery-item -->

										<div class="single-product-gallery-item" id="slide3">
											<a data-lightbox="image-1" data-title="Gallery" href="{{ product.productImage3 }}">
												<img class="img-responsive mainimg" alt="" data-echo="{{ product.productImage3 }}"
												 data-large-img-url="{{ product.productImage3 }}" />
											</a>
										</div><!-- /.single-product-gallery-item -->

										<div class="single-product-gallery-item" id="slide4">
											<a data-lightbox="image-1" data-title="Gallery" href="{{ product.productImage4 }}">
												<img class="img-responsive mainimg" alt=""  data-echo="{{ product.productImage4 }}"
												 data-large-img-url="{{ product.productImage4 }}" />
											</a>
										</div><!-- /.single-product-gallery-item -->

										<div class="single-product-gallery-item" id="slide5">
											<a data-lightbox="image-1" data-title="Gallery" href="{{ product.productImage5 }}">
												<img class="img-responsive mainimg" alt=""  data-echo="{{ product.productImage5 }}"
												 data-large-img-url="{{ product.productImage5 }}" />
											</a>
										</div><!-- /.single-product-gallery-item -->

										{# <div class="single-product-gallery-item" id="slide6">
											<a data-lightbox="image-1" data-title="Gallery" href="images/products/Ford 3d Letters Black  06.jpg">
												<img class="img-responsive mainimg" alt="" src="images/blank.gif" data-echo="images/products/Ford 3d Letters Black  06.jpg"
												 data-large-img-url="images/products/Ford 3d Letters Black  06.jpg" />
											</a>
										</div><!-- /.single-product-gallery-item -->

										<div class="single-product-gallery-item" id="slide7">
											<a data-lightbox="image-1" data-title="Gallery" href="images/products/Ford 3d Letters Black  07.jpg">
												<img class="img-responsive mainimg" alt="" src="images/blank.gif" data-echo="images/products/Ford 3d Letters Black  07.jpg"
												 data-large-img-url="images/products/Ford 3d Letters Black  07.jpg" />
											</a>
										</div><!-- /.single-product-gallery-item -->

										<div class="single-product-gallery-item" id="slide8">
											<a data-lightbox="image-1" data-title="Gallery" href="images/products/Ford 3d Letters Black  08.jpg">
												<img class="img-responsive mainimg" alt="" src="images/blank.gif" data-echo="images/products/Ford 3d Letters Black  08.jpg"
												 data-large-img-url="images/products/Ford 3d Letters Black  08.jpg" />
											</a>
										</div><!-- /.single-product-gallery-item --> #}


									</div><!-- /.single-product-slider -->

									<div class="magnifier-preview hidden-sm hidden-xs" id="preview" style="width: 720px; height: 440px; margin-left: 360px; margin-top:-350px;"></div>



									<div class="single-product-gallery-thumbs gallery-thumbs">

										<div id="owl-single-product-thumbnails">
											<div class="item">
												<a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="detail.html#slide1">
													<img class="img-responsive" width="85" alt=""  data-echo="{{ product.productImage1 }}" />
												</a>
											</div>
											<div class="item">
												<a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="1" href="detail.html#slide2">
													<img class="img-responsive" width="85" alt="" data-echo="{{ product.productImage2 }}" />
												</a>
											</div>

											<div class="item">
												<a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="detail.html#slide2">
													<img class="img-responsive" width="85" alt="" data-echo="{{ product.productImage3 }}" />
												</a>
											</div>
											<div class="item">

												<a class="horizontal-thumb" data-target="#owl-single-product" data-slide="3" href="detail.html#slide3">
													<img class="img-responsive" width="85" alt=""  data-echo="{{ product.productImage4 }}" />
												</a>
											</div>
											<div class="item">

												<a class="horizontal-thumb" data-target="#owl-single-product" data-slide="4" href="detail.html#slide4">
													<img class="img-responsive" width="85" alt=""  data-echo="{{ product.productImage5 }}" />
												</a>
											</div>
											{# <div class="item">

												<a class="horizontal-thumb" data-target="#owl-single-product" data-slide="5" href="detail.html#slide5">
													<img class="img-responsive" width="85" alt="" src="images/blank.gif" data-echo="images/products/Ford 3d Letters Black  06.jpg" />
												</a>
											</div>
											<div class="item">

												<a class="horizontal-thumb" data-target="#owl-single-product" data-slide="6" href="detail.html#slide6">
													<img class="img-responsive" width="85" alt="" src="images/blank.gif" data-echo="images/products/Ford 3d Letters Black  07.jpg" />
												</a>
											</div>
											<div class="item">

												<a class="horizontal-thumb" data-target="#owl-single-product" data-slide="7" href="detail.html#slide7">
													<img class="img-responsive" width="85" alt="" src="images/blank.gif" data-echo="images/products/Ford 3d Letters Black  08.jpg" />
												</a>
											</div> #}
										</div><!-- /#owl-single-product-thumbnails -->



									</div><!-- /.gallery-thumbs -->

								</div><!-- /.single-product-gallery -->
							</div>
							<div class='col-sm-6 col-md-5 product-info-block'>
								<div class="product-info">
									<h1 class="name">{{ product.productName[:28] }} {{ product.productType |capitalize }}</h1>

									<div class="rating-reviews m-t-20">
										<div class="row">
											<div class="col-sm-3">
												<div class="rateit rating rateit-range rateit-small" data-rateit-value="{{ product.averageRating }}" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true" ></div>
											</div>
											<div class="col-sm-8">
												<div class="reviews">
													{% if product.totalreview > 0 %}
														<a href="#" class="lnk">({{ product.totalreview }} Reviews)</a>
													{% else %}
														<a href="#" class="lnk">(No Reviews Yet)</a>
													{% endif %}
												</div>
											</div>
										</div><!-- /.row -->
									</div><!-- /.rating-reviews -->

									<div class="stock-container info-container m-t-10">
										
										<div class="row">
											<div class="col-sm-2">
												<div class="stock-box">
													<span class="label"><b>Availability</b> : </span>
												</div>
											</div>
                                            {% if product.productQuantity > 0 %}                                 
                                                <div class="col-sm-9">
                                                    <div class="stock-box">
                                                        <span class="value">&nbsp;<b>In Stock</b></span>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="col-sm-9">
                                                    <div class="stock-box">
                                                        <span class="value" style = "color:red">&nbsp;<b>Out of Stock</b></span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            
										</div><!-- /.row -->
										
									</div><!-- /.stock-container -->

									<div class="description-container m-t-20">
										{{ product.productName }}.
										{{ product.productDescription }}
                                        <br><br>
									</div><!-- /.description-container -->

									<div class="price-container info-container m-t-40">
										<div class="row">


											<div class="col-sm-12">
												<div class="price-box">
													<span class="price">₹ {{ product.productSP }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<span class="price-strike">₹ {{ product.productMRP }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<span class="discount">{{ product.productPercentage }} OFF</span> 
												</div>
											</div>
										</div><!-- /.row -->
									</div><!-- /.price-container -->

									<div class="description-container m-t-40" style="margin-left:20px">
                                        <br><br>
										<ul style="list-style-type:disc">
											<li>A Simple Tweak To Add Classic Style Statement</li>
											<li>Comes With 3M Self Adhesive</li>
											<li>Contains 1 Set Of Letters</li>
											<li>Made With Automotive Grade Abs Plastic</li>
											<li>Reliable performance</li>
										</ul>
									</div><!-- /.description-container -->




								</div><!-- /.product-info -->
							</div><!-- /.col-sm-7 -->
							
							<div class="quantity-container info-container col-md-3" style="align-items:center;text-align: center;margin-top:30px">
								<div class="row">
									

									<div class="col-md-12">
										<div class="price-box">
											<span class="price" style="color:red">{{ product.productSP }}</span> + ₹50 Delivery charge 
										</div>
									</div>
									<div class="col-md-12" style="margin-left:45px;margin-top:30px" >
										<div class="row">
											<div class="col-md-4 col-sm-4">
												<span class="label" style="color:black;font-size:16px">Quantity</span>
											</div>
											<div class="col-md-3 col-sm-3">
												<div class="cart-quantity">
													<div class="quant-input">
														<input type="text" id = "pqty" value="1" size="5" style = "text-align:center">
														<input type="hidden" id = "ppid" value="{{ product.productId }}" >
														<input type = "hidden" value = "{{ cid }}" id = "cid" />
														<input type = "hidden" value = "{{ cname }}" id = "cname" />
													</div>
												</div>
											</div>
										</div>
									</div>
									

									

									<div class="col-md-12" style="margin-top:20px">
										<a class="btn btn-primary" id = "addtocart"><i class="fa fa-shopping-cart inner-right-vs"></i> ADD TO CART</a><br><br>
									</div>
									<div class="col-md-12">
										<a class="btn btn-primary" id = "addtowishlist" ><i class="fa fa-heart inner-right-vs"></i> ADD TO WISHLIST</a>
									</div>
								</div><!-- /.row -->
								
							</div><!-- /.quantity-container -->

						</div><!-- /.row -->
					</div>

					<div class="product-tabs inner-bottom-xs  wow fadeInUp">
						<div class="row">
							
							<div class="col-sm-12">

								<div class="container-fluid" style="padding:30px">

									<div id="description" class="tab-pane in active" style="margin-bottom:50px">
											
										<h3>Description</h3><br><br>
										<div class="product-tab">
											<ul style="list-style-type:circle">
												<li>{{ product.productBulletPoint1 }}</li>
												<br>
												<li>{{ product.productBulletPoint2 }}</li>
												<br>
												<li>{{ product.productBulletPoint3 }}</li>
												<br>
												<li>{{ product.productBulletPoint4 }}</li>
												<br>
                                                {% if product.productBulletPoint5 != '' %}
												    <li>{{ product.productBulletPoint5 }}</li>
                                                {% endif %}
                                                
											</ul>
										</div>
									</div><!-- /.tab-pane -->
	

									{% if product.totalreview > 0 %}
									<div id="review" class="tab-pane">
											<div class="product-tab">

												<div class="product-reviews">
													<h3 class="title">Customer Reviews</h3><br><br>

													<div class="reviews">
													<table style = "width:100%" id = "reviewsTable">
														<thead>
															<tr>
																<th></th>
															</tr>
														</thead>
														<tbody>
															{% for review in reviews %}
																<tr>
																	<td>
																		<div class="review col-md-12" style="margin-bottom:20px">
																			<div class="col-md-1 col-xs-3 col-sm-3"><img src="https://via.placeholder.com/150" style="height:50px;width:50px" /></div>
																			<div class="col-md-11 col-xs-9 col-sm-9" style = "margin-left:-15px">
																				<div class="reviewer-name col-md-10" style="margin-left:-15px"><span class="summary" style="font-weight:bold;text-transform:uppercase;">{{ review.reviewCustomerName }}</span></div>
																				<div class="rateit rating rateit-range rateit-small col-md-2" data-rateit-value="{{ review.reviewRating }}" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true" ></div><br><br>
																				<div class="text ">{{ review.reviewMessage }}</div>
																			</div>
																		</div><!-- /.reviews -->
																	</td>
																</tr>
															{% endfor %}
														</tbody>
													</table>
														{# <div class="review col-md-12" style="margin-bottom:20px">
															<div class="col-md-1 col-xs-3 col-sm-3"><img src="https://via.placeholder.com/150" style="height:50px;width:50px" /></div>
															<div class="col-md-11 col-xs-9 col-sm-9">
																<div class="reviewer-name col-md-10" style="margin-left:-15px"><span class="summary" style="font-weight:bold;text-transform:uppercase;">Customer
																		Name</span></div>
																<div class="rating rateit-small col-md-2"></div><br><br>
																<div class="text ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aliquam suscipit."</div>
															</div>
														</div><!-- /.reviews -->
														<div class="review col-md-12" style="margin-bottom:20px">
															<div class="col-md-1 col-xs-3 col-sm-3"><img src="https://via.placeholder.com/150" style="height:50px;width:50px" /></div>
															<div class="col-md-11 col-xs-9 col-sm-9">
																<div class="reviewer-name col-md-10" style="margin-left:-15px"><span class="summary" style="font-weight:bold;text-transform:uppercase;">Customer
																		Name</span></div>
																<div class="rating rateit-small col-md-2"></div><br><br>
																<div class="text ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aliquam suscipit."</div>
															</div>
														</div><!-- /.reviews -->
														<div class="review col-md-12" style="margin-bottom:20px">
															<div class="col-md-1 col-xs-3 col-sm-3"><img src="https://via.placeholder.com/150" style="height:50px;width:50px" /></div>
															<div class="col-md-11 col-xs-9 col-sm-9">
																<div class="reviewer-name col-md-10" style="margin-left:-15px"><span class="summary" style="font-weight:bold;text-transform:uppercase;">Customer
																		Name</span></div>
																<div class="rating rateit-small col-md-2"></div><br><br>
																<div class="text ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aliquam suscipit."</div>
															</div>
														</div><!-- /.reviews --> #}

													</div><!-- /.product-reviews -->
												{% endif %}
													<br>
												{% if ordered > 0 and cname != NULL %}
													<div class="product-add-review" style="margin-top:10px">
														<h3 class="title">Write your own review</h3><br>
													
														<div class="review-form">
															<div class="form-container">

																	<div class="row">
																		<div class="col-md-12 col-sm-6">
																			<div class="form-group col-md-6" style="margin-top:40px">
																				<label for="exampleInputName">Your Rating <span class="astk">*</span></label>
																				<div class="review-table">
																					<div class="rateit rateit-small col-md-2" id = "reviewRating" data-rateit-value="0" data-rateit-min="0" data-rateit-max="5"></div>
																				</div><!-- /.review-table -->																		</div><!-- /.form-group -->
																			<div class="form-group col-md-6" >
																					<br>
																			</div><!-- /.form-group -->
																		</div>

																		<div class="col-md-12 col-xs-12">
																			<div class="form-group col-xs-12 col-md-12">
																				<label for="exampleInputReview">Your Review <span class="astk">*</span></label>
																				<textarea class="form-control txt txt-review" id="reviewText" rows="4" placeholder=""></textarea>
																				<input type = "hidden" value = "{{ product.productId }}" id = "pid" />
																			</div><!-- /.form-group -->
																		</div>
																	</div><!-- /.row -->

																	<div class="action text-right">
																		<button class="btn btn-primary btn-upper" id = "submitReview" style = "margin-right:15px">SUBMIT REVIEW</button>
																	</div><!-- /.action -->

															</div><!-- /.form-container -->
														</div><!-- /.review-form -->

													</div><!-- /.product-add-review -->

												{% endif %}
												</div><!-- /.product-tab -->
											</div><!-- /.tab-pane -->


										</div><!-- /.tab-content -->
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.product-tabs -->

						<!-- ============================================== UPSELL PRODUCTS ============================================== -->

						<!-- ============================================== UPSELL PRODUCTS : END ============================================== -->

					</div><!-- /.col -->
					<div class="clearfix"></div>
				</div><!-- /.row -->
				<!-- ============================================== BRANDS CAROUSEL ============================================== -->

				<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
			</div><!-- /.container -->
		</div><!-- /.body-content -->
{% endfor %}
		<div class="container-fluid ">
			<div class="row">
				<div class="col-md-1"></div>
				<section class="section featured-product wow fadeInUp col-md-10">
					<h3 class="section-title">RELEATED PRODUCTS</h3>
					<div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">

                    {% for releatedProduct in releatedProducts %}

                        <div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="{{ path_for('product.showproductdetails', {'name': releatedProduct.productURL, 'id': releatedProduct.productId }) }}"><img src="{{ releatedProduct.productImage1 }}" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="{{ path_for('product.showproductdetails', {'name': releatedProduct.productURL, 'id': releatedProduct.productId }) }}">{{ releatedProduct.productName[:28] }}</a></h3>
										<div class="rateit rating rateit-range rateit-small" data-rateit-value="{{ releatedProduct.avg }}" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true" ></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹ {{ releatedProduct.productSP }}</span>
											<span class="price-before-discount"> ₹ {{ releatedProduct.productMRP }}</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<a data-toggle="tooltip" class="btn btn-primary icon addtocart" id = "{{ releatedProduct.productId }}" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</a>
												</li>

												<li class="lnk wishlist">
													<a class="addtowishlist" id = "{{ releatedProduct.productId }}" data-toggle="tooltip" title="Wishlist">
														<i class="icon fa fa-heart" id = "{{ cid }}"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->
                        
                    {% endfor %}

						{# <div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="detail.html"><img src="images/products/920x1000.png" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="detail.html">Product</a></h3>
										<div class="rating rateit-small"></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹350</span>
											<span class="price-before-discount"> ₹550</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</button>
													<button class="btn btn-primary cart-btn" type="button">Add to cart</button>

												</li>

												<li class="lnk wishlist">
													<a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->

						<div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="detail.html"><img src="images/products/920x1000.png" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="detail.html">Product</a></h3>
										<div class="rating rateit-small"></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹350</span>
											<span class="price-before-discount"> ₹550</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</button>
													<button class="btn btn-primary cart-btn" type="button">Add to cart</button>

												</li>

												<li class="lnk wishlist">
													<a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->


						<div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="detail.html"><img src="images/products/920x1000.png" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="detail.html">Product</a></h3>
										<div class="rating rateit-small"></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹350</span>
											<span class="price-before-discount"> ₹550</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</button>
													<button class="btn btn-primary cart-btn" type="button">Add to cart</button>

												</li>

												<li class="lnk wishlist">
													<a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->


						<div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="detail.html"><img src="images/products/920x1000.png" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="detail.html">Product</a></h3>
										<div class="rating rateit-small"></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹350</span>
											<span class="price-before-discount"> ₹550</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</button>
													<button class="btn btn-primary cart-btn" type="button">Add to cart</button>

												</li>

												<li class="lnk wishlist">
													<a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->


						<div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="detail.html"><img src="images/products/920x1000.png" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="detail.html">Product</a></h3>
										<div class="rating rateit-small"></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹350</span>
											<span class="price-before-discount"> ₹550</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</button>
													<button class="btn btn-primary cart-btn" type="button">Add to cart</button>

												</li>

												<li class="lnk wishlist">
													<a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->


						<div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="detail.html"><img src="images/products/920x1000.png" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="detail.html">Product</a></h3>
										<div class="rating rateit-small"></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹350</span>
											<span class="price-before-discount"> ₹550</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</button>
													<button class="btn btn-primary cart-btn" type="button">Add to cart</button>

												</li>

												<li class="lnk wishlist">
													<a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item --> #}
					</div><!-- /.home-owl-carousel -->
				</section><!-- /.section -->
			</div>
		</div>
		
{% endblock %}