{% extends "Layouts/homeLayout.twig" %}

{% block user %}
    {% if cname == '' %}
        <a href="{{ path_for('customer.login') }}">
            <i class="icon fa fa-lock"></i>Login</a>
    {% else %}
        {{ cname }}
    {% endif %}
{% endblock %}

{% block cart %}
    {{ cart }}
{% endblock %}

{% block content %}

    <div class="breadcrumb ">
        <div class="container ">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled ">
                    <li style = "width:61px">
                        <a href="{{ path_for('customer.home') }}" >Home</a>
                    </li>
                    <li class='active'>Wishlist</li>
                </ul>
            </div>
            <!-- /.breadcrumb-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.breadcrumb -->

    <div class="body-content outer-top-xs">

        {% if wishlist|length == 0 %}
            <div class="container">
                <center>
                    <br><br>
                    <div style = ""><img src = "public/webpage/images/emptycart.png" style = "height:150px;width:180px;"/></div><br><br><br>
                    <h5>Opps!  Looks like you have no items in your whislist </h5><br><br>
                    <a href = "{{ path_for('customer.home') }}" class = "btn btn-primary">Continue Shopping</a><br><br>
                </center>
            </div>
        {% else %}
            <div class="container">
            <div class="row ">
                <div class="shopping-cart" style="margin-bottom:20px">
                    <div class="shopping-cart-table ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-description item">Image</th>
                                        <th class="cart-product-name item">Product Name</th>
                                        <th class="cart-sub-total item">Price</th>
                                        <th class="cart-romove item"></th>
                                    </tr>
                                </thead>
                                <!-- /thead -->
                                
                                <tbody>
                                    {% for wishlist in wishlist %}
                                        <tr>
                                            <td class="cart-image">
                                                <a class="entry-thumbnail" href="{{ path_for('product.showproductdetails', {'name': wishlist.productURL, 'id': wishlist.productId }) }}">
                                                    <img alt="" src="{{ wishlist.productImage1 }}">
                                                </a>
                                            </td>
                                            <td class="cart-product-name-info">
                                                <h4 class='cart-product-description'>
                                                    <a href="{{ path_for('product.showproductdetails', {'name': wishlist.productURL, 'id': wishlist.productId }) }}">{{ wishlist.productName }}</a>
                                                </h4>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div>
                                                            <h5>₹ {{ wishlist.productSP }}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
										                <div class="rateit rating rateit-range rateit-small" data-rateit-value="{{ wishlist.avg }}" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true" ></div>
                                                        <div class="reviews">
                                                        {% if wishlist.totalreviews > 0 %}
                                                            <a href="#" class="lnk">({{ wishlist.totalreviews }} Reviews)</a>
                                                        {% else %}
                                                            <a href="#" class="lnk">(No Reviews Yet)</a>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
										                <button class="btn btn-primary addtocart" id = "{{ wishlist.productId }}">Add To Cart</button>
                                                    </div>
                                                </div>
                                                <!-- /.row -->
                                                <div class="cart-product-info"></div>
                                            </td>
                                            <td class="#" class="icon" title="Delete">
                                              
                                                    <i id = "{{ wishlist.productId }}" class="fa fa-trash-o fa-lg deletefromwishlist"></i>
                                             
                                            </td>
                                        </tr>
                                    {% endfor %}
                        </tbody>
                        <!-- /tbody -->
                    </table>
                    <!-- /table -->
                </div>
            </div>
            <!-- /.shopping-cart-table -->
            
            <!-- /.estimate-ship-tax -->


            
            <!-- /.cart-shopping-total -->
        </div>

        {% endif %}
        
        
    </div>
    </div>
        <!-- /.shopping-cart -->
    <!-- /.row -->

{% endblock %}
