{% extends "Layouts/homeLayout.twig" %}

{% block user %} 
	{% if cname == '' %}
		<a href="{{ path_for('customer.login') }}"><i class="icon fa fa-lock"></i>Login</a>
	{% else %}
		{{ cname }}
	{% endif %}
{% endblock %}

{% block cart %} 
	{{ cart }}
{% endblock %}

{% block content %}

<style>
    #exzoom {
		width: 400px;
		height: 400px;
		background-color: aqua;
		margin-left: 330px;
		margin-top: -350px
	}
	#exzoom .hide {
		display: none;
	}
    .dataTables_filter {
        display:none;
    }
	.pagination>.active>a {
		background-color: #59B210;
    	border-color: #59B210;
	}
	
</style>

    
	<div class="breadcrumb">
		<div class="container">
			<div class="breadcrumb-inner">
				<ul class="list-inline list-unstyled">
					<li><a href="#">Your Orders</a></li>
				</ul>
			</div><!-- /.breadcrumb-inner -->
		</div><!-- /.container -->
	</div><!-- /.breadcrumb -->

{% if orders|length == 0 %}

	<div class="body-content outer-top-xs">
		<div class="container" style = "margin-top:25px;margin-bottom:50px">
			<h4 style = "text-align:center">Looks like you haven't placed an order yet !</h4>
		</div>
	</div>

{% else %}

{% for order in orders %}
	

<div class="body-content outer-top-xs">
    <div class='container'>
        <div class="panel panel-default ">
            <div class="panel-heading col-md-12">
                <div class="row">
                    <span class="col-md-4">ORDER ID
                        <br>
                        <h4>{{ order.orderId }}</h4>
                    </span>
                    <span class="col-md-2">ORDER PLACED
                        <h4>{{ order.createdAt|date("F jS Y") }}</h4>
                    </span>
                    <span class="col-md-2">Total
                        <h4>₹ {{ order.orderAmount/100 }}</h4>
                    </span>
					{% if order.orderStatus == 'CONFIRMED' %}

						<span class="col-md-4">
							<a href="{{ path_for('order.cancelorder', { 'orderid': order.orderId }) }}" style=" margin-top:10px;float:right" class = "btn btn-primary">CANCEL ORDER</a>
						</span>
					
					{% elseif order.orderStatus == 'DISPATCHED' %}
						
						<span class="col-md-4">
							<a href="#" style=" margin-top:10px;float:right" class = "btn btn-primary">DOWNLOAD INVOICE &nbsp;&nbsp;<i aria-hidden="true" class="fa fa-arrow-circle-down"></i>
							</a>
						</span>
					{% elseif order.orderStatus == 'DELIVERED' %}
						<span class="col-md-2">
							<a href="#" style=" margin-top:10px" class = "btn btn-primary">DOWNLOAD INVOICE &nbsp;&nbsp;<i aria-hidden="true" class="fa fa-arrow-circle-down"></i>
							</a>
						</span>
						{% if date().timestamp|date("U") < order.updateAt|date_modify("+10 days")|date("U") %}
							<span class="col-md-2">
								<a href="{{ path_for('order.returnorder', { 'orderid': order.orderId }) }}" class = "btn btn-primary" style="float:right; margin-top:10px">RETURN ITEMS</a>
							</span>
						{% endif %}
						
					{% elseif order.orderStatus == 'RETURN' %}
						<span class="col-md-4">
							<h5 style = "margin-top:20px;float:right">YOUR RETURN HAS BEEN INITIATED</h5>
						</span>

					{% elseif order.orderStatus == 'RETURNED' %}
						<span class="col-md-4">
							<h5 style = "margin-top:20px;float:right">ORDER RETURNED</h5>
						</span>

					{% elseif order.orderStatus == 'CANCELED' %}
						<span class="col-md-4">
							<h5 style = "margin-top:20px;float:right">ORDER CANCELED</h5>
						</span>
					{% endif %}
					
                    
					
                </div>
            </div>
			
            <div class="panel-body ">
					
				
                <br><br><br><br><br>
                <div>
                    <p>Order placed by {{ cname }}</p>
                    <p>Delivery Address : {{ order.orderShippingAddress }}</p>
                </div>
                <br>
                <div class="col-md-12">
					{% for ordereditem in ordereditems %}
						{% if ordereditem.orderId == order.orderId %}
							<div class="row">
								<img class="col-md-4" src="{{ ordereditem.productImage1 }}" style="height:150px;width:180px"/>
								<div class="">
									<br>
									<p>{{ ordereditem.productName }}</p>
									<p>{{ ordereditem.productDescription }}</p>
									<p>₹ {{ ordereditem.productSP }}
									</p>
									<p>Quantity {{ ordereditem.productQuantity }}
									</p>
								</div>
							</div>
							<br>
						{% endif %}
					{% endfor %}
                </div>
				<div class="col-md-12 ">
					<br>
					{% if order.trackingId != NULL and order.orderStatus == 'DISPATCHED' %}
						<div class="row alert alert-success" style = "font-weight:500;font-size:15px">
							<div class="col-md-12">
								<p style = "font-weight:500;font-size:15px">Your order has been Dispatched and will arrive by {{ order.arrivalDate|date_modify("+6 days")|date("F jS Y") }}. The details regarding the delivery of the order are provided below.<p>
							</div>
							<br><br>
							<div class="col-md-4">Carrier : {{ order.carrier }}</div>
							<div class="col-md-4">Shipping Service : {{ order.shippingService }}</div>
							<div class="col-md-4">Tracking ID : {{ order.trackingId }}</div>
						</div>
				
					{% elseif order.orderStatus == 'CONFIRMED' %}
						<div class="alert alert-info">
							<p style = "font-weight:500;font-size:15px"> Your order has been confirmed and will be dispatched soon.</p>
						</div>
					{% elseif order.orderStatus == 'DELIVERED' %}
						<div class="alert alert-info">
							<p style = "font-weight:500;font-size:15px"> Your order has been delivered.</p>
						</div>
					{% elseif order.orderStatus == 'RETURN' %}
						<div class="alert alert-warning">
							<p style = "font-weight:500;font-size:15px"> The return process has been initiated. </p>
						</div>
					{% elseif order.orderStatus == 'RETURNED' %}
						<div class="alert alert-success">
							<p style = "font-weight:500;font-size:15px"> The items have been returned and the amount will be transfered to you account in 2-3 working days.</p>
						</div>
					{% elseif order.orderStatus == 'CANCELED' %}
						<div class="alert alert-danger">
							<p style = "font-weight:500;font-size:15px"> You order has been canceled, for more info please view the <a href = "">order policy</a> page.</p>
						</div>
					{% endif %}
					<br>
				</div>
				
					
            </div>
        </div>
    </div>

	{% endfor %}
	
{% endif %}

		<div class="container-fluid ">
			<div class="row">
				<div class="col-md-1"></div>
				<section class="section featured-product wow fadeInUp col-md-10">
					<h3 class="section-title">OTHER PRODUCTS</h3>
					<div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">

                    {% for releatedProduct in releatedProducts %}

                        <div class="item item-carousel">
							<div class="products">

								<div class="product">
									<div class="product-image">
										<div class="image">
											<a href="{{ path_for('product.showproductdetails', {'name': releatedProduct.productURL, 'id': releatedProduct.productId }) }}"><img src="{{ releatedProduct.productImage1 }}" alt=""></a>
										</div><!-- /.image -->

									</div><!-- /.product-image -->


									<div class="product-info text-left">
										<h3 class="name"><a href="{{ path_for('product.showproductdetails', {'name': releatedProduct.productURL, 'id': releatedProduct.productId }) }}">{{ releatedProduct.productName[:28] }}</a></h3>
										<div class="rateit rating rateit-range rateit-small" data-rateit-value="{{ releatedProduct.avg }}" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true" ></div>
										<div class="description"></div>

										<div class="product-price">
											<span class="price">₹ {{ releatedProduct.productSP }}</span>
											<span class="price-before-discount"> ₹ {{ releatedProduct.productMRP }}</span>
										</div><!-- /.product-price -->

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<a data-toggle="tooltip" class="btn btn-primary icon addtocart" id = "{{ releatedProduct.productId }}" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>
													</a>
												</li>

												<li class="lnk wishlist">
													<a class="addtowishlist" id = "{{ releatedProduct.productId }}" data-toggle="tooltip" title="Wishlist">
														<i class="icon fa fa-heart" id = "{{ cid }}"></i>
													</a>
												</li>


											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->
                        
                    {% endfor %}

					</div><!-- /.home-owl-carousel -->
				</section><!-- /.section -->
			</div>
		</div>
		
{% endblock %}