{% extends "Layouts/adminLayout.twig" %}

{% block content %}

        <div class="container-fluid">
            <div class="card">
                <div class="card-header text-uppercase">ADD REVIEW</div>
                <div class="card-body">
                    <form action="{{ path_for('review.adminpostreview') }}" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 col-form-label" for="basic-select">Customer Name</label>
                            <input class="form-control" name = "cname" type="text">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-form-label" for="basic-select">Rating</label><br><br>
                            {# <div class="radio">
                                <input checked name="optradio" value = "1" style="margin-left:30px;margin-right:30px" type="radio">
                                <input checked name="optradio" value = "2" style="margin-right:30px" type="radio">
                                <input checked name="optradio" value = "3" style="margin-right:30px" type="radio">
                                <input checked name="optradio" value = "4" style="margin-right:30px" type="radio">
                                <input checked name="optradio" value = "5" style="margin-right:30px" type="radio">
                            </div> #}
                            <div id = "adminraiting" style = "padding-left:10px">
                                <i class="fa fa-star fa-2x" data-toggle="tooltip" data-placement="top" title="1" id = "1"></i>
                                <i class="fa fa-star fa-2x" data-toggle="tooltip" data-placement="top" title="2" id = "2"></i>
                                <i class="fa fa-star fa-2x" data-toggle="tooltip" data-placement="top" title="3" id = "3"></i>
                                <i class="fa fa-star fa-2x" data-toggle="tooltip" data-placement="top" title="4" id = "4"></i>
                                <i class="fa fa-star fa-2x" data-toggle="tooltip" data-placement="top" title="5" id = "5"></i>
                                <input type = "hidden" name = "rating" id = "rating" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-form-label" for="basic-select">Review</label>
                            <textarea class="form-control" name = "message" id="basic-textarea" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name = "pid" value = {{ productId }} type="hidden">
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="custom-file">
                                <input class="btn btn-primary waves-effect waves-light m-1" type="submit" value="Save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
