{% extends "Layouts/adminLayout.twig" %}

{% block content %}
    <style>
        td,
        th {
            text-align: center;
        }
        .product-img {
            height: 80px;
            width: 90px;
        }
        table.dataTable.no-footer {
            border-bottom: none;
            border-top: none;
        }

        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_filter,
        .dataTables_wrapper .dataTables_info,
        .dataTables_wrapper .dataTables_processing,
        .dataTables_wrapper .dataTables_paginate {
            margin-top: 20px;
        }
        .dataTables_filter {
            display: none;
        }
        .edit:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: all 0.3s cubic-bezier(0.25,.8,0.25,1);
        }
    </style>
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header border-0">EDIT PRODUCTS
                <div class="card-action"></div>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" id="search" placeholder="Search..." type="text">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button">
                            <i class="zmdi zmdi-search zmdi-hc-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="productsList">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Status</th>
                            <th></th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity Available</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr class = "productrow">
                                <td>
                                    <label class="checkbox-inline"><input style="margin-top:15px" class = "productActive" type="checkbox" value="{{ product.productId }}" {{ product.productActiveStatus == 0 ? 'checked' : '' }}></label>
                                </td>
                                <td class = "editproductstatustext">{{ product.productActiveStatus == 0 ? 'Inactive' : 'Active' }}</td>
                                <td>
                                    <img alt="Image placeholder" class="product-img" src="{{ product.productImage1 }}">
                                </td>
                                <td style = "word-wrap:break-word">{{ product.productName[:28] }}</td>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-lg-4" for="mrp" style="margin-top:10px">MRP -
                                        </label>
                                        <div class="input-group col-lg-8">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₹</span>
                                            </div>
                                            <input class="form-control productmrp" placeholder="some text" style="text-align:right" type="text" value="{{ product.productMRP }}">
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4" for="sp" style="margin-top:10px">SP -
                                        </label>
                                        <div class="input-group col-lg-8">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₹</span>
                                            </div>
                                            <input class="form-control productsp" placeholder="some text" style="text-align:right" type="text" value="{{ product.productSP }}">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group row">
                                        <input class="form-control offset-lg-3 col-lg-6 productquantity" id="qty" style="text-align:right" type="text" value="{{ product.productQuantity }}">
                                    </div>
                                </td>
                                <td>
                                    <a href = "{{ path_for('admin.editproduct', {'id': product.productId }) }}"><i class="zmdi zmdi-edit zmdi-hc-lg edit"></i><a>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}