{% extends "Layouts/adminLayout.twig" %}

{% block content %}
    {% for product in product %}
    <div class="container-fluid">
    <div class="card">
        <div class="card-header text-uppercase">Edit Product</div>
        <div class="card-body">
        <form action = "{{ path_for('admin.uploadsingleproduct') }}" method = "POST" enctype = "multipart/form-data">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Product Name</label>
                    <input type="text" class="form-control" name = "productName" value = "{{ product.productName }}">
                </div>
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Product Type</label>
                    <input type="text" class="form-control" name = "productType" value = "{{ product.productType }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Selling Price</label>
                    <input type="text" class="form-control" name = "productSP" value = "{{ product.productSP }}">
                </div>
                
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Maximum Retail Price</label>
                    <input type="text" class="form-control" name = "productMRP" value = "{{ product.productMRP }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="basic-select" class="col-sm-12 col-form-label">Quantity</label>
                    <input type="text" class="form-control" name = "productQuantity" value = "{{ product.productQuantity }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Color</label>
                    <input type="text" class="form-control" name = "productColor" value = "{{ product.productColor }}">
                </div>
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Material Type</label>
                    <input type="text" class="form-control" name = "productMaterialType" value = "{{ product.productMaterialType }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">HSN Code</label>
                    <input type="text" class="form-control" name = "productHSNCode" value = "{{ product.productHSNCode }}">
                </div>
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">GST Tax Rate</label>
                    <input type="text" class="form-control" name = "productGSTTaxRate" value = "{{ product.productGSTTaxRate }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Car Make</label>
                    <input type="text" class="form-control" name = "productCarMake" value = "{{ product.productCarMake }}">
                </div>
                <div class="form-group col-lg-6">
                    <label for="basic-select" class="col-sm-12 col-form-label">Car Model</label>
                    <input type="text" class="form-control" name = "productCarModel" value = "{{ product.productCarModel }}">
                </div>
            </div>
            
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Product Description</label>
                <textarea rows="4" class="form-control" id="basic-textarea" name = "productDescription"  >{{ product.productDescription }}</textarea>
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Bullet Point 1</label>
                <input type="text" class="form-control" name = "productBulletPoint1" value = "{{ product.productBulletPoint1 }}">
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Bullet Point 2</label>
                <input type="text" class="form-control" name = "productBulletPoint2" value = "{{ product.productBulletPoint2 }}">
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Bullet Point 3</label>
                <input type="text" class="form-control" name = "productBulletPoint3" value = "{{ product.productBulletPoint3 }}">
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Bullet Point 4</label>
                <input type="text" class="form-control" name = "productBulletPoint4" value = "{{ product.productBulletPoint4 }}">
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Bullet Point 5</label>
                <input type="text" class="form-control" name = "productBulletPoint5" value = "{{ product.productBulletPoint5 }}">
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Image 1</label>
                <div class="fallback">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name = "productImage1">
                        <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Image 2</label>
                <div class="fallback">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name = "productImage2">
                        <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Image 3</label>
                <div class="fallback">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name = "productImage3">
                        <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Image 4</label>
                <div class="fallback">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name = "productImage4">
                        <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="basic-select" class="col-sm-3 col-form-label">Image 5</label>
                <div class="fallback">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name = "productImage5">
                        <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="custom-file">
                    <input name="file" value="Add Product" type="submit" class="btn btn-primary waves-effect waves-light m-1">
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endfor %}
{% endblock %}