{% extends "Layouts/adminLayout.twig" %}

{% block content %}
    <div class="container-fluid">

        <!--Start Dashboard Content-->

        <div class="row mt-3">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="mb-0 text-primary">{{ totalOrders }}
                            <span class="float-right">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                        </h5>
                        <div class="progress my-3" style="height:5px;">
                            <div class="progress-bar bg-primary" style="width:{{ totalOrders / 1000 * 100 }}%"></div>
                        </div>
                        <p class="mb-0 text-primary small-font">Total Orders
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-0 text-danger">{{ totalRevenue / 100 }}
                            <span class="float-right">
                                <i class="fa fa-rupee"></i>
                            </span>
                        </h5>
                        <div class="progress my-3" style="height:5px;">
                            <div class="progress-bar bg-danger" style="width:{{ ((totalRevenue / 100) / 100000) * 100 }}%"></div>
                        </div>
                        <p class="mb-0 text-danger small-font">Total Revenue
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="mb-0 text-success">100
                            <span class="float-right">
                                <i class="fa fa-eye"></i>
                            </span>
                        </h5>
                        <div class="progress my-3" style="height:5px;">
                            <div class="progress-bar bg-success" style="width:55%"></div>
                        </div>
                        <p class="mb-0 text-success small-font">Visitors
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="text-warning mb-0">100
                            <span class="float-right">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </h5>
                        <div class="progress my-3" style="height:5px;">
                            <div class="progress-bar bg-warning" style="width:55%"></div>
                        </div>
                        <p class="mb-0 text-warning small-font">Messages
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End Row-->


        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <div class="card">
                    <div class="card-header border-0">Recent Order Tables
                        <div class="card-action">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="javascript:void();">
                                    <i class="icon-options"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:void();">Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Product</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <img alt="Image placeholder" class="product-img" src="{{ order.productImage1 }}">
                                        </td>
                                        <td>{{ order.productName[:28] }}</td>
                                        <td>₹ {{ order.orderAmount/100 }}</td>

                                        <td>{{ order.createdAt|date('d-m-Y') }}</td>
                                    </tr>
                                    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-header">Weekly sales
                    </div>
                    <div class="card-body">
                        <canvas height="180" id="chart2"></canvas>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-primary mr-2"></i>
                                        Stickers</td>
                                    <td>₹10000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-success mr-2"></i>Banners</td>
                                    <td>₹10000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-secondary mr-2"></i>Logos</td>
                                    <td>₹10000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-warning mr-2"></i>Other</td>
                                    <td>₹1105</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-9">

                <div class="card" style="">
                    <div class="card-header">Customer Review
                        <div class="card-action">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="javascript:void();">
                                    <i class="icon-options"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path_for('review.managereviews') }}">Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for review in reviews %}
                            <li class="list-group-item">
                                <div class="media align-items-center">
                                    <img alt="user avatar" class="customer-img rounded-circle" src="public/adminpanel/images/profile.jpg">
                                    <div class="media-body ml-3">
                                        <h6 class="mb-0">{{ review.productName[:28] }}
                                        </h6>
                                        <p class="mb-0 small-font">{{ review.reviewCustomerName }} : {{ review.reviewMessage }}</p>
                                    </div>
                                    <div class="star">
                                        {% for i in 0..(review.reviewRating|round(0, 'floor') - 1) %}
                                            {% if review.reviewRating != 0 %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% endif %}
                                        {% endfor %}
                                        {% for i in 0..(4 - review.reviewRating|round(0, 'floor')) %}
                                            {% if review.reviewRating != 5 %}
                                                <i class="fa fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-12 col-xl-3">
                <div class="row">

                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <p>Total Clicks</p>
                                <h4 class="mb-0">7,493
                                    <small class="small-font">1.4%
                                        <i class="zmdi zmdi-long-arrow-up"></i>
                                    </small>
                                </h4>
                            </div>
                            <canvas height="180" id="chart4"></canvas>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <p>Page Views</p>
                                <h4 class="mb-0">8,293
                                    <small class="small-font">5.2%
                                        <i class="zmdi zmdi-long-arrow-up"></i>
                                    </small>
                                </h4>
                            </div>
                            <canvas height="180" id="chart3"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--End Row-->

    </div>
{% endblock %}