{% extends "Layouts/adminLayout.twig" %}

{% block content %}
<style>
    table td {
        word-wrap: break-word;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    table {
        word-wrap: break-word;
        border: 1px solid #000;
    }

    table tr th {
        word-wrap: break-word;
        border: 1px solid #000;
    }

    #grandtotal td {
        border: 1px solid #000;
    }
    @media print {
        body * {
            visibility: hidden;
        }
        #invoice, #invoice * {
            visibility: visible;
        }
        #invoice {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    @page { size: auto;  margin: 0mm; }
</style>
<div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="card">
        <div class="card-body">
            <div style = "float:left">
                <h4>Invoice<small> {{ order[0].invoiceNo }}</small></h4>
            </div>
            <div class="btn-group m-1" role="group" style="float:right">
                <button type="button" class="btn btn-primary waves-effect waves-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu" style="margin-left:-28px">
                    <a href="javaScript:void();" class="dropdown-item" id = "printPDF"><i aria-hidden="true" class="fa fa-file-pdf-o fa-lg"></i>&nbsp;&nbsp; Export PDF</a>
                    <div class="dropdown-divider"></div>
                    <a href="javaScript:void();" onclick="window.print();" class="dropdown-item" id = "print"><i class="zmdi zmdi-print zmdi-hc-lg"></i>&nbsp;&nbsp; Print</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb-->
    <div class="card" id = "invoice">
        <table style = "border: none" id = "invoiceTable">
            <thead >
                <th style = "border: none">
                <td style = "border: none"></td>
                </th>
            </thead>
            <th style = "border: none">
            <td style = "border: none">
                <div class="card-body">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h3>
                            Invoice
                            <small> {{ order[0].createdAt }}</small>
                        </h3>
                    </section>
                    <br>
                    <!-- Main content -->
                    <section class="invoice">
                        <!-- title row -->
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <h4><img src="public/adminpanel/images/carmeticslogoblack.png" style="width:60px;height:60px" />
                                    CarMetics</h4>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="float-sm-right">Date: {{ order[0].createdAt|date('d-m-Y') }}</h5>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="row invoice-info">
                            <div class="row col-12">
                                <div class="col-sm-4 invoice-col">
                                    <b>Sellers Address</b><br><br>
                                    <address>
                                        Sunrise Traders<br>
                                        #64, Appaji Nilay, 2nd Block,, Akkamahadevi<br>
                                        Colony, Near High Court,<br>
                                        Gulbarga, KARNATAKA, INDIA 585101<br>
                                        Email: email@email.com
                                    </address>
                                </div><!-- /.col -->
                                <div class="col-sm-4 ">
                                </div>
                                <div class="col-sm-4 col-sm-offset-4" style="text-align:right">
                                    <b>Shipping Address</b><br><br>
                                    <address>
                                        {{ order[0].customerName }}<br>
                                        {{ order[0].orderShippingAddress }}<br>
                                        Email: {{ order[0].customerEmail }}<br>
                                        Contact Number: {{ order[0].customerContactNumber }}<br>
                                    </address>
                                </div><!-- /.col -->
                            </div>
                            <br><br>
                            <div class="row col-12">

                                <div class="col-sm-6 invoice-col">
                                    <br>
                                    <b>PAN No:</b> BCNPD7975F<br>
                                    <b>GST Registration No:</b> 29BCNPD7975F1Z2 <br>
                                </div><!-- /.col -->
                                <div class="col-sm-6 invoice-col" style="float:right;text-align:right">
                                    <b>Invoice: {{ order[0].invoiceNo }}</b><br>
                                    <br>
                                    <b>Order ID:</b> {{ order[0].orderId }}<br>
                                    <b>Order Date:</b> {{ order[0].createdAt|date('d-m-Y') }} <br>
                                </div><!-- /.col -->
                            </div>
                        </div><!-- /.row -->
                        <br><br>
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 " style="width:100%">
                                <table class="table-striped productsDetails" id="">
                                    <thead>
                                        <tr>
                                            <th style="width:40%;padding:5px">Product Description</th>
                                            <th style="width:10%;text-align: center">Unit Price</th>
                                            <th style="width:5%;text-align: center">Qty</th>
                                            <th style="width:10%;text-align: center">Net Total</th>
                                            <th style="width:5%;text-align: center">GST Rate</th>
                                            <th style="width:10%;text-align: center">Tax Amount</th>
                                            <th style="width:10%;text-align: center">Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in order %}

                                            <tr>
                                                <td style="width:40%;padding:5px"> {{ order.productName }}
                                                {{ order.productHSNCode }}</td>
                                                <td style="width:10%;text-align: center">₹ {{ order.productSP }}</td>
                                                <td style="width:5%;text-align: center">{{ order.productQuantity }}</td>
                                                <td style="width:10%;text-align: center">₹ {{ order.productSP * order.productQuantity }}</td>
                                                <td style="width:5%;text-align: center">{{ order.productGSTTaxRate }} %</td>
                                                <td style="width:10%;text-align: center">₹ {{ (order.productSP * order.productQuantity) * order.productGSTTaxRate/100 }}</td>
                                                <td style="width:10%;text-align: center">₹ {{ order.productSP * order.productQuantity }}</td>
                                            </tr>
                                            
                                        {% endfor %}
                                        <tr>
                                            <td style="width:40%;padding:5px"> Shipping Charges</td>
                                            <td style="width:10%;text-align: center"></td>
                                            <td style="width:5%;text-align: center"></td>
                                            <td style="width:10%;text-align: center">₹ 50</td>
                                            <td style="width:5%;text-align: center"></td>
                                            <td style="width:10%;text-align: center"></td>
                                            <td style="width:10%;text-align: center">₹50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                        <br><br>
                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-lg-6 payment-icons">
                            </div><!-- /.col -->
                            <div class="col-lg-6">
                                <div class="table-responsive">
                                    <table class="table" style="width:100%;border: 1px solid #000" id="grandtotal">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%;border:1px solid #000">Total:</th>
                                                <td style="text-align:center">₹ {{ order[0].orderAmount/100 }}</td>
                                            </tr>
                                            <tr>
                                                <th>Total Payable Amount:</th>
                                                <td style="text-align:center">₹ {{ order[0].orderAmount/100 }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <!-- this row will not appear when printing -->
                        <hr>
                        <div class="" style="padding:20px">
                            <b style="float:right;text-align:right;">For Sunrise Traders</b><br>
                            <img src="public/adminpanel/images/sign.png"
                                style="width:180px;height:60px;float:right;text-align:right;" /><br><br><br>
                            <b style="float:right;text-align:right;">Authorized Signatory</b>
                        </div>
                    </section><!-- /.content -->
                </div>
            </td>
            </th>
        </table>
    </div>
</div>


<script>

    $("#printPDF").click(function(){
        var invoice = $('#invoice')[0];
        html2canvas(document.getElementById("invoice") , {
            scale: 2,
            dpi: 144,
            letterRendering: 1, 
            allowTaint : true,
            onrendered: function(canvas) {
                doc = new jsPDF('p', 'mm', [canvas.height, canvas.width]);
                var width = doc.internal.pageSize.getWidth();
                var height = doc.internal.pageSize.getHeight();
                var img = canvas.toDataURL("image/jpeg");
                doc.addImage(img, 'JPEG', 0, 0, width, height );
                doc.save('invoice.pdf');
            }
        });
    });
</script>
       
{% endblock %}
