<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{{ base_url() }}">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>Adminstrator Login</title>
        <link href="public/webpage/images/favicon.ico" rel="icon"/>
        <link href="public/adminpanel/css/bootstrap.min.css" rel="stylesheet" />
        
        <style>
            body {
                background: #eee !important;
            }

            .wrapper {
                margin-top: 80px;
                margin-bottom: 80px;
            }

            .form-signin {
                max-width: 380px;
                padding: 15px 35px 45px;
                margin: 0 auto;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.1);

                .checkbox,
                .form-signin-heading {
                    margin-bottom: 30px;
                }

                .checkbox {
                    font-weight: normal;
                }

                .form-control {
                    position: relative;
                    font-size: 16px;
                    height: auto;
                    padding: 10px;
                    @include box-sizing(border-box);

                    &:focus {
                        z-index: 2;
                    }
                }

                input[type="text"] {
                    margin-bottom: -1px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                input[type="password"] {
                    margin-bottom: 20px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <form class="form-signin" action = "{{ path_for('adminauth.adminlogin') }}" method = "post">
                <center>
                    <img src = "public/adminpanel/images/carmeticslogoblack.png" style = "width:160px;height:140px;"/>
                </center>
                <br>
                <h4 style = "text-align:center" class="form-signin-heading">LOGIN</h4>
                <br><br>
                <input autofocus="" class="form-control" name="email" placeholder="Email Address" required="" type="text" />
                <br>
                <input class="form-control" name="password" placeholder="Password" required="" type="password" />
                <br>
                <label class="checkbox">
                    <input id="rememberMe" name="rememberMe" type="checkbox" value="remember-me">
                    Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
            </form>
        </div>
    </body>
<script src="public/adminpanel/js/bootstrap.min.js"></script>
</html>