{% extends "Layouts/adminLayout.twig" %}

{% block content %}
   <style>
    td,
    th {
        text-align: center;
    }

    .product-img {
        height: 80px;
        width: 90px;
    }

    table.dataTable.no-footer {
        border-bottom: none;
        border-top: none;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 20px;
    }

    .dataTables_filter {
        display: none;
    }

    .view:hover,.delete:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
</style>
<div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
        <div class="card-header border-0">Pending Orders
            <div class="card-action">
                
            </div>
        </div>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="Search...">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button"><i class="zmdi zmdi-search zmdi-hc-2x"></i></button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush" id="ordersTable">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Requested Text</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for customorder in customorders %}
                        <tr>
                            <td>{{  customorder.customOrderId }}</td>
                            <td>{{ customorder.createdAt|date('d-m-Y') }}</td>
                            <td >{{ customorder.customText }}</td>
                            <td>
                                <a href= "{{ path_for('order.adminviewcustomorder', { 'customorderid': customorder.customOrderId }) }}"><i class="zmdi zmdi-eye zmdi-hc-lg view" style="margin-right: 15px"></i></a>
                                <i aria-hidden="true" style="color:red;"
                                    class="fa fa-trash-o fa-lg confirm-btn-alert delete"></i>
                            </td>
                        </tr>
                        
                    {% endfor %}
                    
                    
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>
<script>
    var tbl = $("#ordersTable").DataTable({
        "ordering": false,
        "bLengthChange": false,
        "bInfo": false,
    });

    $('#search').keyup(function () {
        console.log($(this).val())
        tbl.search($(this).val()).draw();
    });

    $(".view").click(function() {
        $("#content").load("customorderview.html")
    });

    $(".confirm-btn-alert").click(function () {

        swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this order",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal("The order has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("The order was not deleted");
                }
            });

    });
</script>

{% endblock %}