{% extends "Layouts/adminLayout.twig" %}

{% block content %}
   <style>
    td,
    th {
        text-align: center;
    }
    .product-img {
        height: 80px;
        width: 90px;
    }
    table.dataTable.no-footer {
        border-bottom: none;
        border-top: none;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 20px;
    }
    .dataTables_filter {
        display: none;
    }
    .addReview:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.3s cubic-bezier(0.25,.8,0.25,1);
    }
</style>
<div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
        <div class="card-header border-0">MANAGE REVIEWS
            <div class="card-action"></div>
        </div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" id="search" placeholder="Search..." type="text">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button">
                        <i class="zmdi zmdi-search zmdi-hc-2x"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush" id="productsList">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Reviews</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}

                        <tr>
                            <td>
                                <img alt="Image placeholder" class="product-img" src="{{ product.productImage1 }}">
                            </td>
                            <td>{{ product.productName[:28] }}</td>
                            <td style="text-align:center">
                                <div class="row">
                                    <div class="star" style="margin-left:120px">
                                        {% for i in 0..(product.avg|round(0, 'floor') - 1) %}
                                            {% if product.avg != 0 %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% endif %}
                                        {% endfor %}
                                        {% for i in 0..(4 - product.avg|round(0, 'floor')) %}
                                                <i class="fa fa-star"></i>
                                        {% endfor %}
                                        {# <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i> #}
                                    </div>
                                    <div style="margin-top:-9px;margin-left:20px">
                                        <span class="badge badge-pill badge-primary m-1" style="padding:10px">{{ product.totalreviews != 0 ? product.totalreviews : 'No' }} Reviews</span>
                                    </div>
                                </div>

                            </td>
                            <td>₹ {{ product.productSP }}</td>
                            <td>
                                <a href = "{{ path_for('review.adminviewreviews', {'id': product.productId }) }}"><i aria-hidden="true" class="fa fa-plus fa-lg addReview"></i></a>
                            </td>
                        </tr>
                        
                    {% endfor %}
                    
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>


<script>
    // Default data table
    // var tbl = $('#productsList').DataTable({"ordering": false, "bLengthChange": false, "bInfo": false});

    // $('#search').keyup(function () {
    //     console.log($(this).val())
    //     tbl.search($(this).val()).draw();
    // });

    // $('.addReview').click(function () {
    //     $("#content").load("viewreviews.html");
    // });


    // var table = $('#example').DataTable({
    //     lengthChange: false,
    //     buttons: ['copy', 'excel', 'pdf', 'print', 'colvis']
    // });

    // table.buttons().container()
    //     .appendTo('#example_wrapper .col-md-6:eq(0)');
</script>


{% endblock %}