<html>
    <head>
        <base href="{{ base_url() }}">
        <link href="public/adminpanel/css/bootstrap.min.css" rel="stylesheet"/>
        <style>
            table {
                border:1px solid #474747;
                text-align:center;
            }
            td, th {
                word-wrap: break-word;
                border-right: 1px solid #474747;
                border-left: 1px solid #474747;
            }
            p {
                font-size:15px;
                font-weight:600;
                text-align:center;
            }
        </style>
    </head>
    <body>
        
        <div class="container">
            <div class="col-md-12">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <p style = "text-align:left">{{ order[0].createdAt|date('d-m-Y') }}</p>
                    </div>
                    <div class="col-md-6">
                        <p style = "text-align:right">CARMETICS.IN</p>  
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <b>SHIP TO :<b>
                <h3>{{ order[0].orderShippingAddress }}</h3>
                <h3>Phone Number : {{ order[0].customerContactNumber }}</h3>
            </div>
            <br><br>
            <div class="col-md-12">
                <h5>{{ order[0].orderId }}</h5>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h5> Delivery Address: </h5>
                        <h5> {{ order[0].orderShippingAddress }}</h5>
                    </div>
                    <div class="col-md-6">
                        <h5> Customer Name: {{ order[0].customerName }} </h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr style = "border:1px solid #474747">
                            <th style = "width:60%">Product Details</th>
                            <th>Quantity</th>
                            <th>Unit Cost</th>
                            <th>Tax</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order %}
                            <tr>
                                <td style = "width:60%"><br>{{ order.productName }}<br>HSN CODE : {{ order.productHSNCode }}<br><br></td>
                                <td>{{ order.productQuantity }}</td>
                                <td>₹ {{ order.productSP }}</td>
                                <td>₹ {{ order.productSP * order.productQuantity * ( order.productGSTTaxRate / 100 )}}</td>
                                <td>₹ {{ order.productSP * order.productQuantity }}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
               
            </div>
            <br>
             <div class = "col-md-12">
                <div class="row">
                    <p class = "col-md-6" style = "text-align:left"> Shipping Charges : ₹ 50 </p>
                    <p class = "col-md-6" style = "text-align:right"> Total : ₹ {{ (order[0].orderAmount/100 - 50 ) }} + ₹ 50 </p><br>
                    <p class = "col-md-12" style = "text-align:right"> Grand Total : ₹ {{ order[0].orderAmount/100 }} </p>

                </div>
            </div>
            <br><br>
            <div class="col-md-12">
                <p> Thank you for buying from CarMetics, Please do provide your feedback on carmetics.in and for any other queries you can contact us on help@carmetics.in</p>
            </div>
        </div>
        <br><br>
        <script src="public/adminpanel/js/bootstrap.min.js"></script>
    </body>
</html>
