{% extends "Layouts/adminLayout.twig" %}

{% block content %}
<style>
    #itemsDetails table,
    table tr {
        border: 1px solid #474747
    }
</style>
<div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
        <div class="card-header border-0">
        <br>
            <div class="row">
                <div class = "col-md-6">
                    <h4 id = "orderid">{{ order[0].orderId }}</h4>
                </div>
                <div class="col-md-6 payment-icons" style="float:right">
                    <a id = "ordersconfirm"  style="float:right;color:white" class="btn btn-primary ">INITIATE REFUND</a>
                </div><!-- /.col -->
            </div>

            
            <hr style="">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <b>ORDER NO: {{ order[0].orderId }}</b><br><br>
                    <b>Payment Method: {{ paymentMethod }}</b>
                    
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-md-4">
                    <b>Customer Name:</b> {{ order[0].customerName }}<br><br>
                    <b>Customer Email:</b> {{ order[0].customerEmail }}<br><br>
                    <b>Change Order Status: </b><br><br>
                    <div class="input-group mb-3" style="padding-right:15px">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">ORDER STATUS</label>
                        </div>
                        <select class="custom-select" id="orderstatus">
                        {% if order[0].orderStatus == 'RETURN' %}
                            <option selected = "RETURN" style="color:green" disabled>RETURN</option>
                            <option value="RETURNED" style="color:green">RETURNED</option>
                        {% endif %}
                        </select>
                        
                        
                    </div>

                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    <b>Shipping Address</b><br><br>
                    <address>
                        {{ order[0].customerName }}<br>
                        {{ order[0].orderShippingAddress }}<br>
                        Email: {{ order[0].customerEmail }}<br>
                        {{ order[0].customerContactNumber }}<br>
                    </address>
                </div>
            </div>
            <div id="couirerdetails">

            </div>
            <br><br>
            <hr>
            <br>
            <div class="row">
                <div class="col md-12">
                    <h5><b>ITEMS</b></h5>
                </div>
                <br><br>
                <div class="col-12 " style="width:100%">
                    <table class="table-striped " id="itemsDetails">
                        <thead>
                            <tr>
                                <th style="width:40%;padding:5px">Product Description</th>
                                <th style="width:10%;text-align: center">Unit Price</th>
                                <th style="width:5%;text-align: center">Qty</th>
                                <th style="width:10%;text-align: center">Net Total</th>
                                <th style="width:5%;text-align: center">GST Rate</th>
                                <th style="width:10%;text-align: center">Tax Amount</th>
                                <th style="width:10%;text-align: center">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order %}
                                <tr>
                                    <td style="width:40%;padding:5px"> {{ order.productName }}
                                       {{ order.productHSNCode }}</td>
                                    <td style="width:10%;text-align: center">₹ {{ order.productSP }}</td>
                                    <td style="width:5%;text-align: center">{{ order.productQuantity }}</td>
                                    <td style="width:10%;text-align: center">₹ {{ order.productSP * order.productQuantity }}</td>
                                    <td style="width:5%;text-align: center">{{ order.productGSTTaxRate }} %</td>
                                    <td style="width:10%;text-align: center">₹ {{ (order.productSP * order.productQuantity) * order.productGSTTaxRate/100 }}</td>
                                    <td style="width:10%;text-align: center">₹ {{ order.productSP * order.productQuantity }}</td>
                                </tr>
                            {% endfor %}
                            
                            <tr>
                                <td style="width:40%;padding:5px"> Shipping Charges</td>
                                <td style="width:10%;text-align: center"></td>
                                <td style="width:5%;text-align: center"></td>
                                <td style="width:10%;text-align: center">₹50</td>
                                <td style="width:5%;text-align: center"></td>
                                <td style="width:10%;text-align: center"></td>
                                <td style="width:10%;text-align: center">₹50</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <br><br>
            <div class="row">
                <!-- accepted payments column -->

                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table" style=" border:0px solid #fff" id="total">
                            <tbody>
                                <tr style="width:50%;border:none">
                                    <th
                                        style="width:50%;border-bottom:1px solid;border-top:1px solid #474747;background-color:#e0e0e0">
                                        Total:</th>
                                    <td style="text-align:center;border:none;background-color:#f2f2f2">₹ {{ order[0].orderAmount/100 }}</td>
                                </tr>
                                <tr style="width:50%;border:none">
                                    <th
                                        style="width:50%;border:none;background-color:#e0e0e0;border-bottom:1px solid #474747;">
                                        Total Payable Amount:</th>
                                    <td style="text-align:center;border:none;background-color:#f2f2f2">₹ {{ order[0].orderAmount/100 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.col -->
                <div class="col-lg-6 payment-icons">

                </div><!-- /.col -->
            </div><!-- /.row -->
            <br><br>
            <hr>
            <br>
            <div class="row">
                <!-- accepted payments column -->

                <div class="col-lg-6">
                    
                </div><!-- /.col -->
                
            </div><!-- /.row -->
        </div>
    </div>
</div>
       
{% endblock %}
