{% extends "Layouts/adminLayout.twig" %}

{% block content %}

       <style>
        td,
        th {
            text-align: center;
        }
    
        .product-img {
            height: 80px;
            width: 90px;
        }
    
        table.dataTable.no-footer {
            border-bottom: none;
            border-top: none;
        }
    
        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_filter,
        .dataTables_wrapper .dataTables_info,
        .dataTables_wrapper .dataTables_processing,
        .dataTables_wrapper .dataTables_paginate {
            margin-top: 20px;
        }
    
        .dataTables_filter {
            display: none;
        }
    
        .edit:hover {
            cursor: pointer;
        }
    
        
    
        #view:hover,#delete:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
    </style>
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header border-0">ORDERS HISTORY
                <div class="card-action">
                    
                </div>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search...">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button"><i class="zmdi zmdi-search zmdi-hc-2x"></i></button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="ordersTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <img alt="Image placeholder" src="{{ order.productImage1 }}" class="product-img">
                                </td>
                                <td>{{ order.orderId }}</td>
                                <td>{{ order.createdAt|date('Y-m-d') }}</td>
                                <td>₹ {{ order.orderAmount/100 }}</td>
                                <td style="color:green">{{ order.orderStatus }}</td>
                                <td>
                                    <a href = "{{ path_for('order.refundrequestorderdetails', { 'orderid' : order.orderId }) }}" class="btn btn-info waves-effect waves-light m-1 viewInvoice col-md-12" id = "viewInvoice">VIEW DETAILS</a><br>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
    </div>
    <script>
        var tbl = $("#ordersTable").DataTable({
            "ordering": false,
            "bLengthChange": false,
            "bInfo": false,
        });
    
        $('#search').keyup(function () {
            console.log($(this).val())
            tbl.search($(this).val()).draw();
        });
    
        $("#view").click(function() {
            $("#content").load("ordersview.html")
        });

        $(".viewInvoice").click(function() {
            $("#content").load("invoice.html");   
        });
    
        $(".confirm-btn-alert").click(function () {
    
            swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this order",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("The order has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("The order was not deleted");
                    }
                });
    
        });
    </script>
    
{% endblock %}
