{% extends "Layouts/adminLayout.twig" %}

{% block content %}
    <style>
        td,
        th {
            text-align: center;
        }
        .product-img {
            height: 80px;
            width: 90px;
        }
        table.dataTable.no-footer {
            border-bottom: none;
            border-top: none;
        }

        .dataTables_wrapper .dataTables_filter,
        .dataTables_wrapper .dataTables_info,
        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_paginate,
        .dataTables_wrapper .dataTables_processing {
            margin-top: 20px;
        }
        .dataTables_filter {
            display: none;
        }
        .edit:hover {
            cursor: pointer;
        }
        #productsList .fa {
            color: red;
        }
        #productsList .fa:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: all 0.3s cubic-bezier(0.25, .8, 0.25, 1);
        }
    </style>
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header border-0">REMOVE PRODUCTS
                <div class="card-action"></div>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" id="search" placeholder="Search..." type="text">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button">
                            <i class="zmdi zmdi-search zmdi-hc-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive" >
                <table class="table align-items-center table-flush" id="productsList">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Price(S.P)</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr class = "productrow {{ product.productId }}">
                            <td>
                                <img alt="Image placeholder" class="product-img" src="{{ product.productImage1 }}">
                            </td>
                            <td style = "">{{ product.productName[:28] }}</td>
                            <td>₹ {{ product.productSP }}</td>
                            <td>{{ product.productQuantity }}</td>
                            <td>
                                <i aria-hidden="true" class="fa fa-trash-o fa-lg confirm-btn-alert" id = "{{ product.productId }}"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
    </div>

{% endblock %}