{% extends "Layouts/adminLayout.twig" %}

{% block content %}
    <style>
        td,
        th {
            text-align: center;
        }

        .product-img {
            height: 80px;
            width: 90px;
        }

        table.dataTable.no-footer {
            border-bottom: none;
            border-top: none;
        }

        .dataTables_wrapper .dataTables_filter,
        .dataTables_wrapper .dataTables_info,
        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_paginate,
        .dataTables_wrapper .dataTables_processing {
            margin-top: 20px;
        }

        .dataTables_filter {
            display: none;
        }

        .edit:hover {
            cursor: pointer;
        }

        .updateoption {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease-in-out;
        }

        .update {
            cursor: pointer;
        }

        #productList {
            border-collapse: collapse;
        }

        .collapse {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease-in-out;
        }

        .collapsing {
            -webkit-transition: all 2.5s ease;
            -moz-transition: all 2.5s ease;
            -o-transition: all 2.5s ease;
            transition: all 2.5s ease-in-out;
        }


        .show {
            transition: transform 150ms ease;
        }

        .showOptions {
            transform: rotate 180deg );
            transition: transform 150ms ease;
            display: block;
        }

        .hideOptions {
            transform: rotate -180deg );
            transition: transform 150ms ease;
            display: block;
        }
    </style>
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header border-0">UPDATE PRODUCTS
                <div class="card-action"></div>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" id="search" placeholder="Search..." type="text">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button">
                            <i class="zmdi zmdi-search zmdi-hc-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="productsList">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Price(S.P)</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="ul1">
                            <td>
                                <img alt="Image placeholder" class="product-img" src="public/adminpanel/images/600x600.png">
                            </td>
                            <td>Product 1</td>
                            <td>₹1000 INR</td>
                            <td>200</td>
                            <td>15%</td>
                            <td>
                                <i class="fa fa-chevron-down update"></i>
                            </td>
                        </tr>
                        <tr class="collapse updateoptions" id="uo1" style="border-bottom: 0px;">
                            <td class="" colspan="6">
                                <div class="input-group updateoption">
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Quantity</label>
                                    <input class="form-control col-md-4" placeholder="Quantity" type="text" />&nbsp;&nbsp;
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Discount</label>
                                    <input class="form-control col-md-4" placeholder="Discount" type="text" />&nbsp;&nbsp;
                                    <button class="btn btn-primary waves-effect waves-light m-1 col-md-2">UPDATE</button>
                                </div>
                            </td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        <tr id="ul2">
                            <td>
                                <img alt="Image placeholder" class="product-img" src="public/adminpanel/images/600x600.png">
                            </td>
                            <td>Product 2</td>
                            <td>₹1000 INR</td>
                            <td>200</td>
                            <td>15%</td>
                            <td>
                                <i class="fa fa-chevron-down update"></i>
                            </td>
                        </tr>
                        <tr class="collapse updateoptions" id="uo2">
                            <td colspan="6">
                                <div class="input-group">
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Quantity</label>
                                    <input class="form-control col-md-4" placeholder="Quantity" type="text" />&nbsp;&nbsp;
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Discount</label>
                                    <input class="form-control col-md-4" placeholder="Discount" type="text" />&nbsp;&nbsp;
                                    <button class="btn btn-primary waves-effect waves-light m-1 col-md-2">UPDATE</button>
                                </div>
                            </td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        <tr id="ul3">
                            <td>
                                <img alt="Image placeholder" class="product-img" src="public/adminpanel/images/600x600.png">
                            </td>
                            <td>Product 3</td>
                            <td>₹1000 INR</td>
                            <td>200</td>
                            <td>15%</td>
                            <td>
                                <i class="fa fa-chevron-down update"></i>
                            </td>
                        </tr>
                        <tr class="collapse updateoptions" id="uo3">
                            <td colspan="6">
                                <div class="input-group">
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Quantity</label>
                                    <input class="form-control col-md-4" placeholder="Quantity" type="text" />&nbsp;&nbsp;
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Discount</label>
                                    <input class="form-control col-md-4" placeholder="Discount" type="text" />&nbsp;&nbsp;
                                    <button class="btn btn-primary waves-effect waves-light m-1 col-md-2">UPDATE</button>
                                </div>
                            </td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        <tr id="ul4">
                            <td>
                                <img alt="Image placeholder" class="product-img" src="public/adminpanel/images/600x600.png">
                            </td>
                            <td>Product 4</td>
                            <td>₹1000 INR</td>
                            <td>200</td>
                            <td>15%</td>
                            <td>
                                <i class="fa fa-chevron-down update"></i>
                            </td>
                        </tr>
                        <tr class="collapse updateoptions" id="uo4">
                            <td class="updateoptions" colspan="6">
                                <div class="input-group">
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Quantity</label>
                                    <input class="form-control col-md-4" placeholder="Quantity" type="text" />&nbsp;&nbsp;
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Discount</label>
                                    <input class="form-control col-md-4" placeholder="Discount" type="text" />&nbsp;&nbsp;
                                    <button class="btn btn-primary waves-effect waves-light m-1 col-md-2">UPDATE</button>
                                </div>
                            </td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        <tr id="ul5">
                            <td>
                                <img alt="Image placeholder" class="product-img" src="public/adminpanel/images/600x600.png">
                            </td>
                            <td>Product 5</td>
                            <td>₹1000 INR</td>
                            <td>200</td>
                            <td>15%</td>
                            <td>
                                <i class="fa fa-chevron-down update"></i>
                            </td>
                        </tr>
                        <tr class="collapse updateoptions" id="uo5">
                            <td colspan="6">
                                <div class="input-group">
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Quantity</label>
                                    <input class="form-control col-md-4" placeholder="Quantity" type="text" />&nbsp;&nbsp;
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Discount</label>
                                    <input class="form-control col-md-4" placeholder="Discount" type="text" />&nbsp;&nbsp;
                                    <button class="btn btn-primary waves-effect waves-light m-1 col-md-2">UPDATE</button>
                                </div>
                            </td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        <tr id="ul6">
                            <td>
                                <img alt="Image placeholder" class="product-img" src="public/adminpanel/images/600x600.png">
                            </td>
                            <td>Product 6</td>
                            <td>₹1000 INR</td>
                            <td>200</td>
                            <td>15%</td>
                            <td>
                                <i class="fa fa-chevron-down update"></i>
                            </td>
                        </tr>
                        <tr class="collapse updateoptions" id="uo6">
                            <td colspan="6">
                                <div class="input-group">
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Quantity</label>
                                    <input class="form-control col-md-4" placeholder="Quantity" type="text" />&nbsp;&nbsp;
                                    <label class="col-md-1" style="margin-top:10px;margin-right:20px">Discount</label>
                                    <input class="form-control col-md-4" placeholder="Discount" type="text" />&nbsp;&nbsp;
                                    <button class="btn btn-primary waves-effect waves-light m-1 col-md-2">UPDATE</button>
                                </div>
                            </td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>

                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
    </div>


    <script>
        // Default data table
        var tbl = $('#productsList').DataTable({"ordering": false, "bLengthChange": false, "bInfo": false, "pageLength": 20});

        $('#search').keyup(function () {
            tbl.search($(this).val()).draw();
        });

        $('.update').click(function () {
            let id = $(this).closest('tr').attr("id");
            console.log('#' + id + ' .update');
            $('#' + id + ' .update').toggleClass("showOptions");
            $(this).closest('tr').next('tr').toggleClass("show");
        });
    </script>
{% endblock %}