{% extends "Layouts/adminLayout.twig" %}

{% block content %}
    <div class="container-fluid">

    <div class="row" style="height: 450px;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-uppercase">Upload Bulk Products </div>
                <div class="card-body">
                    <p>You can use this option to upload product files from excel sheets to the database. All uploaded files will be visible to the customer, Read the information below before uploading any files.</p>
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <div class="alert-icon">
                            <i class="fa fa-bell"></i>
                            </div>
                            <div class="alert-message">
                            <span>
                                <strong>Please Read Carefully</strong> <br><br>
                                <ul>
                                    <li>Only upload excel files with .xls or .xlsx.</li>
                                    <li>Make sure the file you are uploading is below 10MB in size.</li>
                                    <li>Make sure you aren't uploading a file that has products that are already uploaded/added.</li>
                                    <li>Make sure you have the excat columns arranged as specified in <a href = "excelfile.xls" style="color:white;text-decoration:underline">this</a> example file.</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <form action="{{ path_for('admin.uploadexcel') }}" class="" id="dropzone" style="min-height:70px" method = "POST" enctype="multipart/form-data">
                        <div class="fallback">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" name = "excelfile">
                                <label class="custom-file-label" for="inputGroupFile01" id = "filename">Choose file</label>
                            </div>
                        </div>
                        <br>
                        <input name="file" value="UPLOAD" type="submit" class="btn btn-primary waves-effect waves-light m-1">
                    </form><br>
                </div>
            </div>
            
        </div>
    </div>
    <!--End Row-->
</div>
{% endblock %}