{% extends "Layouts/adminLayout.twig" %}

{% block content %}

<style>
    td,
    th {
        text-align: center;
    }

    .product-img {
        height: 80px;
        width: 90px;
    }

    table.dataTable.no-footer {
        border-bottom: none;
        border-top: none;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 20px;
    }

    .dataTables_filter {
        display: none;
    }

    .view:hover,.delete:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
</style>
<div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
        <div class="card-header border-0">Pending Orders
            <div class="card-action">
                
            </div>
        </div>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="Search...">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button"><i class="zmdi zmdi-search zmdi-hc-2x"></i></button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush" id="ordersTable">
                <thead>
                    <tr>
                        <th></th>
                        <th style = "width:20%">Order Number</th>
                        <th>Items </th>
                        <th>Order Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <img alt="{{ order.productName }}" src="{{ order.productImage1 }}" class="product-img">
                            </td>
                            <td style = "width:20%">{{ order.orderId }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.createdAt|date('d-m-Y') }}</td>
                            <td>₹ {{ order.orderAmount/100 }} </td>
                            {% if order.orderStatus == 'CONFIRMED' %}
                                <td style = "color:blue"> {{ order.orderStatus }} </td>
                            {% else %}
                                <td style = "color:green"> {{ order.orderStatus }} </td>
                            {% endif %}
                            <td>
                                <a href = "{{ path_for('order.vieworder', { 'orderid' : order.orderId }) }}" class="btn btn-info waves-effect waves-light m-1 col-md-10"><i class="zmdi zmdi-eye zmdi-hc-lg view" style="margin-right: 8px;color:#ffffff"></i> View Order</a><br>
                                <a href = "{{ path_for('order.printpackagingslip', { 'orderid' : order.orderId }) }}"  class="btn btn-info waves-effect waves-light m-1 col-md-10"><i aria-hidden="true" class="fa fa-file-text-o fa-lg" style="margin-right: 8px;color:#ffffff"></i> Print Packaging Slip</a><br>
                                <a href = ""  class="btn btn-danger waves-effect waves-light m-1 col-md-10"><i aria-hidden="true" class="fa fa-trash-o fa-lg confirm-btn-alert delete" style="margin-right: 8px;color:#ffffff"></i> Cancel Order</a><br>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>
<script>
    var tbl = $("#ordersTable").DataTable({
        "ordering": false,
        "bLengthChange": false,
        "bInfo": false,
    });

    $('#search').keyup(function () {
        console.log($(this).val())
        tbl.search($(this).val()).draw();
    });

    $(".view").click(function() {
        $("#content").load("ordersview.html")
    });

    $(".confirm-btn-alert").click(function () {

        swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this order",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal("The order has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("The order was not deleted");
                }
            });

    });
</script>

       
{% endblock %}
