{% extends "Layouts/adminLayout.twig" %}

{% block content %}
   
    <style>
    #itemsDetails table,
    table tr {
        border: 1px solid #474747
    }
</style>
<div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
        <div class="card-header border-0">
            <br>
            <h4>CUSTOM ORDER - {{ customorder.customOrderId }}</h4>
            <hr style="">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <b>ORDER NO: {{ customorder.customOrderId }}</b><br><br>
                </div>
            </div>
            <br><br><br>
            <div class="row ">
                <div class="col-md-4">
                    <b>Customer Name: </b>{{ customorder.customerName }}<br><br>
                    <b>Customer Email: </b>{{ customorder.customerEmail }}<br><br>
                    <b>Customer Contact Number: </b> {{ customorder.customerContactNumber }}<br><br>
                </div>
                <div class = "col-md-4">
                    
                </div>
                <div class = "col-md-4">
                    <b>Customer Address</b><br><br>
                    <address>
                        {{ customorder.customerName }}<br>
                        {{ customorder.customerAddress }}<br>
                        {{ customorder.customerEmail }}
                    </address>
                </div>
            </div>
            <br><br>
            <hr>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col md-12">
                        <h5 style="float:left;margin-top:10px"><b>ORDER REQUIREMENTS</b></h5>
                        <button type="button"  style="float:right;margin-bottom:50px" class="btn btn-info waves-effect waves-light m-1"><i aria-hidden="true" class="fa fa-download"></i>&nbsp; DOWNLOAD RESOURCES</button>
                    </div>                
                </div><!-- /.row -->
                <br><br>
                <div class="row">
                    <div class="col-12">
                        <div class="row">

                            {% if customorder.customOrderImage1 != '' %}
                                <div class="col-md-6 col-lg-3 col-xl-3">
                                    <a href="{{ customorder.customOrderImage1 }}" data-fancybox="group2">
                                        <img src="{{ customorder.customOrderImage1 }}" alt="lightbox"
                                            class="lightbox-thumb img-thumbnail">
                                    </a>
                                </div>
                            {% endif %}
                            {% if customorder.customOrderImage2 != '' %}
                                <div class="col-md-6 col-lg-3 col-xl-3">
                                    <a href="{{ customorder.customOrderImage2 }}" data-fancybox="group2">
                                        <img src="{{ customorder.customOrderImage2 }}" alt="lightbox"
                                            class="lightbox-thumb img-thumbnail">
                                    </a>
                                </div>
                            {% endif %}
                            {% if customorder.customOrderImage3 != '' %}
                                <div class="col-md-6 col-lg-3 col-xl-3">
                                    <a href="{{ customorder.customOrderImage3 }}" data-fancybox="group2">
                                        <img src="{{ customorder.customOrderImage3 }}" alt="lightbox"
                                            class="lightbox-thumb img-thumbnail">
                                    </a>
                                </div>
                            {% endif %}
                            {% if customorder.customOrderImage4 != '' %}
                                <div class="col-md-6 col-lg-3 col-xl-3">
                                    <a href="{{ customorder.customOrderImage4 }}" data-fancybox="group2">
                                        <img src="{{ customorder.customOrderImage4 }}" alt="lightbox"
                                            class="lightbox-thumb img-thumbnail">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <!-- accepted payments column -->

                    <div class="col-lg-6">
                        <h5>Text to print</h5><br>
                        <h3>" {{ customorder.customText }} "</h3>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <br><br>
                <hr>
                <br>
                <div class="row">
                    <!-- accepted payments column -->

                    <div class="col-lg-6">

                    </div><!-- /.col -->
                    {# <div class="col-lg-6 payment-icons" style="float:right">
                        <button type="button" style="float:right"
                            class="btn btn-primary waves-effect waves-light m-1">CONFIRM</button>
                    </div><!-- /.col --> #}
                </div><!-- /.row -->
            </div>
            
        </div>
    </div>
</div>

{% endblock %}