{% extends "Layouts/adminLayout.twig" %}

{% block content %}
   
   <style>
    .dataTables_filter {
        display: none;
    }

    .deleteReview:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    #reviewList td {
        border-top: 1px solid #E5E5E5;
        padding-bottom:15px;
        padding-top:15px;
    }
</style>
<div class="col-12 col-lg-12 col-xl-12">

    <div class="card" style="">
        <div class="card-header border-0"><span style="margin-bottom:15px">CUSTOMER REVIEW</span>
            <div style = "float:right">
                <a href = "{{ path_for('review.adminaddreview', { 'id' : productId }) }}" style = "color:#fff;border-color: #0499dd;" class="btn btn-primary waves-effect waves-light m-1 addRevivew"><i aria-hidden="true" class="fa fa-plus fa-lg addReview"></i>&nbsp;&nbsp; ADD REVIEW</a>
            </div>
        </div>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="Search...">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary " id = "" type="button"><i class="zmdi zmdi-search zmdi-hc-2x"></i></button>
                </div>
            </div>
        </div>
            <table id="reviewList" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr class = 'reviewrow'>
                            <td>
                                <div class="media align-items-center">
                                    <div class="media-body ml-3">
                                        <p class="mb-0 small-font">{{ review.reviewCustomerName }} : <br><br> {{ review.reviewMessage }}</p>
                                    </div>
                                    <div class="star" style="margin-right:50px">
                                        {% for i in 0..(review.reviewRating|round(0, 'floor') - 1) %}
                                            {% if review.reviewRating != 0 %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% endif %}
                                        {% endfor %}
                                        {% for i in 0..(4 - review.reviewRating|round(0, 'floor')) %}
                                            {% if review.reviewRating != 5 %}
                                                <i class="fa fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class = "currentreviewapprovalstatus">{{ review.approvalStatus == 0 ? 'NOT APPROVED' : 'APPROVED' }}<td>
                            <td id = "{{ review.productId }}">
                                <i id="{{ review.customerId }}" aria-hidden="true" style="color:red;margin-right:15px"
                                    class="fa fa-trash-o fa-lg confirm-btn-alert deleteReview"></i>
                                <input style="" class = "reviewApprove" type="checkbox" value = "{{ review.approvalStatus }}" {{ review.approvalStatus == 1 ? 'checked' : '' }}>
                                <input type = "hidden" class = "reviewcustomerid" value = "{{ review.customerId }}" />
                                <input type = "hidden" class = "reviewproductid" value = "{{ review.productId }}" />
                                {# {% if review.approvalStatus == 0 %}
                                    <i class="fa fa-check fa-lg" style = "color:green" aria-hidden="true" ></i>
                                {% else %}
                                    <i class="fa fa-times fa-lg" style = "color:red" aria-hidden="true"></i>
                                {% endif %} #}
                                

                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <br><br>

        </ul>
    </div>
</div>

<script>

    
</script>

{% endblock %}